.fw-bold{
    font-size: 14px;
    color: #890203;
}
.btn{
    border-radius: 8px;
    width: 212px;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
}
input,select{
    border-radius: 8px;
    font-size: 14px;
}
#btnSave{
    background-color: #B5B5B5;
    color: white;
}
#btnCancle,#btnSubmit{
    width: 118px;
    height: 48px;
    border-radius: 8px;
}
