<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5 mx-auto">
                <div class="mt-4"></div>
                <div class="col mb-4">
                    <label class="form-lable fw-bold">ชื่อแผนที่*</label>
                    <select class="form-select form-select-lg" required>
                        <option value="" selected disabled hidden>เลือกชื่อแผนที่</option>
                        <option class="text-dark" value="map1">แผนที่ 1</option>
                        <option class="text-dark" value="map2">แผนที่ 2</option>
                        <option class="text-dark" value="map3">แผนที่ 3</option>
                    </select>
                </div>

                <div class="col mb-4">
                    <label class="form-lable fw-bold">ชั้นแผนที่*</label>
                    <select class="form-select form-select-lg" required>
                        <option value="" selected disabled hidden>เลือกชั้นแผนที่</option>
                        <option class="text-dark" value="floor1">1</option>
                        <option class="text-dark" value="floor2">2</option>
                        <option class="text-dark" value="floor3">3</option>
                    </select>
                </div>

                <div class="col mb-4">
                    <label class="form-lable fw-bold">ประเภทห้อง / รูปแบบห้อง*</label>
                    <select class="form-select form-select-lg" required>
                        <option value="" selected disabled hidden>เลือกประเภทห้อง/รูปแบบห้อง</option>
                        <option class="text-dark" value="roomType1">รูปแบบห้อง 1</option>
                        <option class="text-dark" value="roomType2">รูปแบบห้อง 2</option>
                        <option class="text-dark" value="roomType3">รูปแบบห้อง 3</option>
                    </select>
                </div>

                <div class="col mb-4">
                    <label for="building" class="form-lable fw-bold">อาคาร</label>
                    <select class="form-select form-select-lg" required>
                        <option value="" selected disabled hidden>เลือกอาคาร</option>
                        <option class="text-dark" value="building1">ตึก A</option>
                        <option class="text-dark" value="building2">ตึก B</option>
                        <option class="text-dark" value="building3">ตึก C</option>
                    </select>
                </div>

                <div class="col mb-1">
                    <div class="row">
                        <div class="col-5">
                            <label class="form-lable fw-bold">เลขที่ห้อง*</label>
                        </div>
                        <div class="col-4">
                            <label class="form-lable fw-bold">จำนวนเริ่มต้น*</label>
                        </div>
                        <div class="col">
                            <label class="form-lable fw-bold">จำนวนสิ้นสุด*</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <input type="text" class="form-control form-control-lg" id="inputNumRoom"
                                placeholder="กรอกเลขที่ห้อง">
                        </div>
                        <div class="col-1">
                            <h2 class="fw-normal">/</h2>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control form-control-lg" id="inputStart" placeholder="0">
                        </div>
                        <div class="col-1">
                            <h3 class="fw-normal">-</h3>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control form-control-lg" id="inputEnd" placeholder="0">
                        </div>
                    </div>
                    <div id="description" class="form-text text-dark">
                        <div class="d-flex gap-1">
                            <p>*สร้างจำนวน</p>
                            <p class="fw-bold text-danger"> 0 </p>ห้อง เลขที่ห้อง <p class="fw-bold text-danger">0/0-0/0
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col mb-5">
                    <div class="row" style="font-size:14px">
                        <div class="col-1"></div>
                        <div class="col-4">
                            <label class="form-lable fw-bold">เลขที่บ้าน</label>
                        </div>
                        <div class="col-1"></div>
                        <div class="col">
                            <label class="form-lable fw-bold">จำนวนเริ่มต้น</label>
                        </div>
                        <div class="col-1"></div>
                        <div class="col">
                            <label class="form-lable fw-bold">จำนวนสิ้นสุด</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 align-self-center">
                            <input type="checkbox" class="form-check-input" id="Check">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control form-control-lg" id="inputNumHome" placeholder="0">
                        </div>
                        <div class="col-1">
                            <h2 class="fw-normal">/</h2>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control form-control-lg" id="StartHome" placeholder="0">
                        </div>
                        <div class="col-1">
                            <h3 class="fw-normal">-</h3>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control form-control-lg" id="EndHome" placeholder="0">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col">
                            <div id="description" class="form-text text-dark">
                                <div class="d-flex gap-1">
                                    <p>*สร้างจำนวน</p>
                                    <p class="fw-bold text-danger"> 100 </p>ห้อง เลขที่บ้าน <p
                                        class="fw-bold text-danger">
                                        12/1-12/100
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-grid">
                        <button type="button" name="cancle" class="btn btn-outline-dark btn-lg">ยกเลิก</button>
                    </div>
                    <div class="col d-grid">
                        <button type="button" name="save" class="btn btn-lg btn-dark" data-bs-toggle="modal"
                            data-bs-target="#saveModal">บันทึก</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Save Modal -->
<div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="mt-2"></div>
            <div class="modal-body">
                <div class="text-center mb-3">
                    <img src="/assets/Add-room.svg" class="mb-4" alt="icon-add-room">
                    <div class="fw-bold">ยืนยันการสร้างห้อง</div>
                    <div class="hstack gap-2 justify-content-center">
                        <div class="fw-bold">จำนวน :</div>
                        <div class="fw-bold text-danger">100</div>
                        <div class="fw-bold">ห้อง</div>
                    </div>
                    <div class="hstack gap-2 justify-content-center">
                        <div class="fw-bold">เลขที่ห้อง :</div>
                        <div class="fw-bold text-danger">AA/001-AA/100</div>
                    </div>
                </div>

                <div class="row col-6 g-3 mx-auto">
                    <div class="col d-grid">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">ยกเลิก</button>
                    </div>
                    <div class="col d-grid">
                        <button type="button" class="btn btn-dark">ยืนยัน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>