<div class="card-body">
    <div class="row">
        <div class="mt-2"></div>
        <div class="col-12 rounded">

            <div class="table-responsive tableFixHead overflow-auto">
                <table class="table align-middle text-center">
                    <thead>
                        <tr class="border-1 border-dark bg-light">
                            <th class="bg-dark border-light" style="width: 5%;"></th>
                            <th style="width: 15%;">09.00 น. - 10.00 น.</th>
                            <th style="width: 15%;">10.00 น. - 11.00 น.</th>
                            <th style="width: 15%;">11.00 น. - 12.00 น.</th>
                            <th style="width: 15%;">13.00 น. - 14.00 น.</th>
                            <th style="width: 15%;">15.00 น. - 16.00 น.</th>
                            <th style="width: 15%;">17.00 น. - 18.00 น.</th>
                        </tr>
                    </thead>

                    <tbody class="border-dark">
                        <tr>
                            <th class="bg-dark text-light border-light">
                                <div class="h5 fw-bold"> 1</div>
                                <div class="fw-normal"> เม.ย</div>
                                <div class="fw-normal"> 64</div>
                            </th>
                            <td>
                                <!-- card-toggle -->
                                <div class="card border-secondary mx-auto" id="cardId">
                                    <div class="card-header bg-secondary bg-gradient">

                                        <!-- dropdown collapse -->
                                        <div class="dropdown">
                                            <a type="button" data-bs-toggle="collapse" href="#optionDropdown1"
                                                aria-expanded="false" aria-controls="optionDropdown" class="float-end">
                                                <img src="/assets/Icon-Other.svg" alt="menu">
                                            </a>

                                            <ul class="collapse dropdown-menu list-group" id="optionDropdown1">
                                                <li><a class="list-group-item border border-dark"
                                                        href="central-area/edit-booking">แก้ไขการจอง</a></li>
                                                <li><a class="list-group-item border border-dark" data-bs-toggle="modal"
                                                        href="#deleteModal">ลบการจอง</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--end -->

                                        <div class="hstack gap-2">
                                            <div><img src="/assets/scan-img.jpg" class="rounded-circle" alt="User-image"
                                                    width="40" height="40"></div>
                                            <h6 class="fw-bold text-light"> ID : 123456</h6>
                                        </div>
                                    </div>

                                    <div class="card-body text-dark">
                                        <h6 class="card-title fw-normal text-start">ผู้เข้าร่วม</h6>
                                        <div class="card-image">
                                            <div class="row g-1">
                                                <div class="col">
                                                    <img src="/assets/scan-img.jpg" class="rounded-circle"
                                                        alt="imageUser" width="35" height="35">
                                                </div>
                                                <div class="col">
                                                    <img src="/assets/scan-img.jpg" class="rounded-circle"
                                                        alt="imageUser" width="35" height="35">
                                                </div>
                                                <div class="col">
                                                    <img src="/assets/scan-img.jpg" class="rounded-circle"
                                                        alt="imageUser" width="35" height="35">
                                                </div>
                                                <div class="col">
                                                    <img src="/assets/scan-img.jpg" class="rounded-circle"
                                                        alt="imageUser" width="35" height="35">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="bg-dark text-light border-light">
                                <div class="h5 fw-bold"> 2</div>
                                <div class="fw-normal"> เม.ย</div>
                                <div class="fw-normal"> 64</div>
                            </th>
                            <td></td>
                            <td>
                                <!-- card-toggle -->
                                <div class="card border-secondary mx-auto" id="cardId">
                                    <div class="card-header bg-secondary bg-gradient">

                                        <!-- dropdown collapse -->
                                        <div class="dropdown">
                                            <a type="button" data-bs-toggle="collapse" href="#optionDropdown2"
                                                aria-expanded="false" aria-controls="optionDropdown" class="float-end">
                                                <img src="/assets/Icon-Other.svg" alt="menu">
                                            </a>

                                            <ul class="collapse dropdown-menu list-group" id="optionDropdown2">
                                                <li><a class="list-group-item border border-dark"
                                                        href="central-area/edit-booking">แก้ไขการจอง</a></li>
                                                <li><a class="list-group-item border border-dark" data-bs-toggle="modal"
                                                        href="#deleteModal">ลบการจอง</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--end -->

                                        <div class="hstack gap-2">
                                            <div><img src="/assets/scan-img.jpg" class="rounded-circle" alt="User-image"
                                                    width="40" height="40"></div>
                                            <h6 class="fw-bold text-light"> ID : 123456</h6>
                                        </div>
                                    </div>

                                    <div class="card-body text-dark">
                                        <h6 class="card-title fw-normal text-start">ผู้เข้าร่วม</h6>
                                        <div class="card-image">
                                            <div class="row g-1">
                                                <div class="col">
                                                    <img src="/assets/scan-img.jpg" class="rounded-circle"
                                                        alt="imageUser" width="35" height="35">
                                                </div>
                                                <div class="col">
                                                    <img src="/assets/scan-img.jpg" class="rounded-circle"
                                                        alt="imageUser" width="35" height="35">
                                                </div>
                                                <div class="col">
                                                    <img src="/assets/scan-img.jpg" class="rounded-circle"
                                                        alt="imageUser" width="35" height="35">
                                                </div>
                                                <div class="col">
                                                    <img src="/assets/scan-img.jpg" class="rounded-circle"
                                                        alt="imageUser" width="35" height="35">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <!-- card-toggle -->
                                <div class="card border-secondary mx-auto" id="cardId">
                                    <div class="card-header bg-secondary bg-gradient">

                                        <!-- dropdown collapse -->
                                        <div class="dropdown">
                                            <a type="button" data-bs-toggle="collapse" href="#optionDropdown3"
                                                aria-expanded="false" aria-controls="optionDropdown" class="float-end">
                                                <img src="/assets/Icon-Other.svg" alt="menu">
                                            </a>

                                            <ul class="collapse dropdown-menu list-group" id="optionDropdown3">
                                                <li><a class="list-group-item border border-dark"
                                                        href="central-area/edit-booking">แก้ไขการจอง</a></li>
                                                <li><a class="list-group-item border border-dark" data-bs-toggle="modal"
                                                        href="#deleteModal">ลบการจอง</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--end -->

                                        <div class="hstack gap-2">
                                            <div><img src="/assets/scan-img.jpg" class="rounded-circle" alt="User-image"
                                                    width="40" height="40"></div>
                                            <h6 class="fw-bold text-light"> ID : 123456</h6>
                                        </div>
                                    </div>

                                    <div class="card-body text-dark">
                                        <h6 class="card-title fw-normal text-start">ผู้เข้าร่วม</h6>
                                        <div class="card-image">
                                            <div class="row g-1">
                                                <div class="col">
                                                    <img src="/assets/scan-img.jpg" class="rounded-circle"
                                                        alt="imageUser" width="35" height="35">
                                                </div>
                                                <div class="col">
                                                    <img src="/assets/scan-img.jpg" class="rounded-circle"
                                                        alt="imageUser" width="35" height="35">
                                                </div>
                                                <div class="col">
                                                    <img src="/assets/scan-img.jpg" class="rounded-circle"
                                                        alt="imageUser" width="35" height="35">
                                                </div>
                                                <div class="col">
                                                    <img src="/assets/scan-img.jpg" class="rounded-circle"
                                                        alt="imageUser" width="35" height="35">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="bg-dark text-light border-light">
                                <div class="h5 fw-bold"> 3</div>
                                <div class="fw-normal"> เม.ย</div>
                                <div class="fw-normal"> 64</div>
                            </th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="bg-dark text-light border-light">
                                <div class="h5 fw-bold"> 4</div>
                                <div class="fw-normal"> เม.ย</div>
                                <div class="fw-normal"> 64</div>
                            </th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </div>
</div>
<!-- </div> -->


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="mt-3"></div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="/assets/delModal.svg" alt="Icon Modal">
                    <div class="mt-4"></div>
                    <p class="fw-bold">คุณต้องการลบข้อมูลการจองนี้หรือไม่</p>
                    <div class="row g-3 justify-content-center">
                        <div class="col-4 d-grid">
                            <button type="button" name="cancel" class="btn btn-outline-dark btn-lg"
                                data-bs-dismiss="modal">
                                <div class="fs-6">ยกเลิก</div>
                            </button>
                        </div>
                        <div class="col-4 d-grid">
                            <button type="button" name="submit" class="btn btn-dark btn-lg">
                                <div class="fs-6">ลบการจอง</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>