<div class="container-fluid">
    <div class="row mb-3">
        <div class="col align-self-center">
            <div class="hstack gap-3 align-items-center">
                <strong>การจัดการห้อง</strong>
                <img src="/assets/next-page.svg" alt="next">
                <strong>ข้อมูลห้องทั้งหมด</strong>
            </div>
        </div>
        <div class="col">
            <a href="rooms/room-add">
                <button type="button" class="btn btn-dark float-end">
                    <img src="/assets/add.svg" class="float-start" alt="add">
                    <span class="align-middle" style="font-size:14px">เพิ่มห้อง</span>
                </button>
            </a>
        </div>
    </div>

    <app-room-list-card-table></app-room-list-card-table>
</div>