<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="mb-3">
                <div class="form-group">
                    <div class="row justify-content-around">
                        <div class="col-5">
                            <input type="search" class="form-control" id="searchUser" name="searchUser"
                                placeholder="ค้นหา">
                        </div>
                        <div class="col align-self-center">
                            <div class="col-7">
                                <img src="/assets/search.svg" alt="" class="align-middle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>โปรไฟล์</th>
                        <th>ID ผู้ใช้</th>
                        <th>ชื่อ</th>
                        <th>นามสกุล</th>
                        <th>เบอร์โทร</th>
                        <th>บล็อก</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>***</td>
                        <td>***</td>
                        <td>***</td>
                        <td>***</td>
                        <td>***</td>
                        <td style="width: 25%;">
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#blockModal"><img src="/assets/Vector-block.svg" alt="block">
                            </button>&nbsp;

                            <a href="members/show-members">
                                <button type="button" class="btn btn-outline-secondary">
                                    <img src="/assets/Vector-show.svg" alt="show">
                                </button>
                            </a>&nbsp;

                            <a href="members/edit-members">
                                <button type="button" class="btn btn-outline-secondary"><img
                                        src="/assets/Vector_edit.svg" alt="edit">
                                </button>
                            </a>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#delModal"><img src="/assets/Vector_delete.svg" alt="delete"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>***</td>
                        <td>***</td>
                        <td>***</td>
                        <td>***</td>
                        <td>***</td>
                        <td style="width: 25%;">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#unblockModal"><img src="/assets/block.svg" alt="block">
                            </button>&nbsp;

                            <a href="members/show-members"><button type="button" class="btn btn-outline-secondary"><img
                                        src="/assets/Vector-show.svg" alt="show">
                                </button>
                            </a>&nbsp;

                            <a href="members/edit-members">
                                <button type="button" class="btn btn-outline-secondary"><img
                                        src="/assets/Vector_edit.svg" alt="edit">
                                </button>
                            </a>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#delModal"><img src="/assets/Vector_delete.svg" alt="delete"></button>
                        </td>
                    </tr>
                </tbody>

            </table>

            <!-- Modal -->
            <div class="modal fade" id="blockModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="/assets/Icon-block.svg" alt="" class="centerImg"><br>
                            <p><b>คุณต้องการบล็อกผู้ใช้งานรายนี้หรือไม่</b></p>

                            <div class="row justify-content-center">
                                <button type="button" id="btnCancle" class="btn btn-outline-dark"
                                    data-bs-dismiss="modal">ยกเลิก</button>&nbsp;&nbsp;
                                <button type="button" id="btnSave" class="btn btn-dark">บล็อกผู้ใช้งาน</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- unModal -->
            <div class="modal fade" id="unblockModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="/assets/Icon-block.svg" alt="" class="centerImg"><br>
                            <p><b>คุณต้องการปลดบล็อกผู้ใช้งานรายนี้หรือไม่</b></p>

                            <div class="row justify-content-center">
                                <button type="button" id="btnCancle" class="btn btn-outline-dark"
                                    data-bs-dismiss="modal">ยกเลิก</button>&nbsp;&nbsp;
                                <button type="button" id="btnSave" class="btn btn-dark">ปลดบล็อก</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- delModal -->
            <div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="/assets/delModal.svg" alt="" class="centerImg"><br>
                            <p><b>คุณต้องการลบข้อมูลของคนนี้หรือไม่</b></p>

                            <div class="row justify-content-center">
                                <button type="button" id="btnCancle" class="btn btn-outline-dark"
                                    data-bs-dismiss="modal">ยกเลิก</button>&nbsp;&nbsp;
                                <button type="button" id="btnSave" class="btn btn-dark">ลบผู้อยู่อาศัย</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div><br>

<div class="PageNav">
    <nav class="pagination-outer" aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous" style="background-color:#B5B5B5 ;">
                    <span aria-hidden="true"><img src="/assets/back.svg" alt=""></span>
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Next" style="background-color: #231F20;">
                    <span aria-hidden="true"><img src="/assets/next.svg" alt=""></span>
                </a>
            </li>
        </ul>
    </nav>
</div>