<div class="card">
    <div class="card-body">
        <div class="row">

            <div class="form-group">
                <div class="col mb-4">
                    <label class="fw-bold" for="name_tperson" style="font-size: 14px;">ชื่อประเภทบุคคล*</label>
                    <div class="mt-2"></div>
                    <input type="text" class="form-control form-control-lg" id="name_tperson"
                        placeholder="กรอกชื่อประเภทบุคคล" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col mb-4">
                    <p class="fw-bold">สิทธิ์การมีรูปแบบรถ</p>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkAll">
                        <label class="form-check-label" for="checkAll">
                            เลือกทั้งหมด
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="car1">
                        <label class="form-check-label" for="car1">
                            รูปแบบรถที่ 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="car2">
                        <label class="form-check-label" for="car2">
                            รูปแบบรถที่ 2
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="car3">
                        <label class="form-check-label" for="car3">
                            รูปแบบรถที่ 3
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col mb-4">
                    <p class="fw-bold">สิทธิ์การจองพื้นที่ส่วนกลาง</p>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkAreaAll">
                        <label class="form-check-label" for="checkAreaAll">
                            เลือกทั้งหมด
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="swimming pool">
                        <label class="form-check-label" for="swimming pool">
                            สระว่ายน้ำ
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="gym">
                        <label class="form-check-label" for="gym">
                            ห้องออกกำลังกาย
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="garden">
                        <label class="form-check-label" for="garden">
                            สวนบนดาดฟ้า
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="meeting room">
                        <label class="form-check-label" for="meeting room">
                            ห้องประชุม
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col mb-4">
                    <p class="fw-bold">สิทธิ์การจองเพิ่มผู้อยู่อาศัย</p>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkResAll">
                        <label class="form-check-label" for="checkResAll">
                            เลือกทั้งหมด
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="residents">
                        <label class="form-check-label" for="residents">
                            ผู้อยู่อาศัย
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col mb-4">
                    <p class="fw-bold">เอกสารที่อัพโหลด</p>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkDocAll">
                        <label class="form-check-label" for="checkDocAll">
                            เลือกทั้งหมด
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="doc1">
                        <label class="form-check-label" for="doc1">
                            เอกสาร 1
                        </label>
                        <button type="button" class="btn-close btn-sm float-end" aria-label="Close"></button>
                    </div>
                    <hr>
                    <div class="form-check">
                        <div class="col-7">
                            <input class="form-check-input" type="checkbox" value="" id="docCheck">
                            <input type="text" class="form-control" id="docAdd" placeholder="เพิ่มรายการเอกสาร" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col mb-4">
                    <p class="fw-bold">ชั้นที่สามารถเข้าได้</p>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkFloorAll">
                        <label class="form-check-label" for="checkFloorAll">
                            เลือกทั้งหมด
                        </label>
                    </div>
                    <hr>
                    <div class="col mb-2 text-center">
                        <div class="d-flex justify-content-around">
                            <div class="form-check form-check-inline">
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" id="floor1" value="option1">
                                    <label class="form-check-label" for="floor1">ชั้น 1</label>
                                </div>
                            </div>

                            <div class="form-check form-check-inline">
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" id="floor2" value="option2">
                                    <label class="form-check-label" for="floor2">ชั้น 2</label>
                                </div>
                            </div>

                            <div class="form-check form-check-inline">
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" id="floor3" value="option3">
                                    <label class="form-check-label" for="floor3">ชั้น 3</label>
                                </div>
                            </div>

                            <div class="form-check form-check-inline">
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" id="floor4" value="option4">
                                    <label class="form-check-label" for="floor3">ชั้น 4</label>
                                </div>
                            </div>

                            <div class="form-check form-check-inline">
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" id="floor5" value="option5">
                                    <label class="form-check-label" for="floor3">ชั้น 5</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>