.card {
  // height: calc(100vh - 188px);
  // overflow: auto;
  border-radius: 8px;
}

//font
.fw-bold {
  color: #890203;
}

//input,select
.form-control,
.form-select {
  border-radius: 8px;
  font-size: 14px;
}
.form-check-input:checked {
  background-color: #890203;
}

#docAdd {
  border: none;
  border-bottom: 1px solid #d1d0d0;
  border-radius: 1px;
}
