<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-12">
            <a href="members/add-members">
                <button type="button" class="btn btn-dark float-end">
                    <img src="/assets/add.svg" class="float-start" alt="add">
                    <span class="align-middle" style="font-size:14px">เพิ่มคน</span>
                </button>
            </a>
            <div class="d-flex flex-row">
                <div class="p-2">
                    <strong>การจัดการผู้ใช้</strong>
                </div>
                <div class="p-2"><img src="/assets/next-page.svg" alt=""></div>
                <div class="p-2">
                    <strong>ข้อมูลคนทั้งหมด</strong>
                </div>
            </div>
        </div>
    </div>


<app-member-list-card></app-member-list-card>
</div>