input,select{
    border-radius: 8px;
}
.fw-bold{
    color: #890203;
}

 .nav-link.active,
  .nav-item.show .nav-link {
       color: #890203;
  }
  .nav-link{
      background-color: #939393;
      color: white;
  }
  .card{
      height: 600px;
  }