img{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 213px;
    height: 213px;
    left: 732px;
    top: 186px;
}
.rowUser{
    text-align: center;
    color: #890203;
    font-size: 24px;;
}
.userInfo{
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}
.userInfo b{
    color: #890203;
    font-size: 18px;
}

.btn{
box-sizing: border-box;
border-radius: 8px;
width: 212px;
height: 48px;
}
