<div class="card">
    <div class="card-body">
        <div class="col-sm-6 mx-auto">

            <div class="mb-2">
                <label for="formFile" class="form-label fw-bold">อัพโหลดรูปผู้ใช้*</label>
                <div class="hstack gap-3">
                    <input class="form-control form-control-lg me-auto" type="text" onfocus="(this.type = 'file')"
                        required>
                    <button type="button" class="btn btn-dark btn-lg">อัพโหลด</button>
                </div>
                <div id="fileHelp" class="form-text text-dark">*อัพโหลดเฉพาะไฟล์ JPG. หรือ PNG.</div>
            </div>

            <div class="mb-2">
                <label for="formFileId" class="form-label fw-bold">อัพโหลดรูปบัตรประชาชน*</label>
                <div class="hstack gap-3">
                    <input class="form-control form-control-lg me-auto" type="text" onfocus="(this.type = 'file')"
                        required>
                    <button type="button" class="btn btn-dark btn-lg">อัพโหลด</button>
                </div>
                <div id="fileHelp" class="form-text text-dark">*อัพโหลดเฉพาะไฟล์ JPG. หรือ PNG.</div>
            </div>

            <div class="mb-2">
                <label for="formName" class="form-label fw-bold">ชื่อ*</label>
                <input class="form-control form-control-lg" type="text" id="formName" placeholder="กรอกชื่อ" required>
            </div>
            <div class="mb-2">
                <label for="formLast" class="form-label fw-bold">นามสกุล*</label>
                <input class="form-control form-control-lg" type="text" id="formLast" placeholder="กรอกนามสกุล"
                    required>
            </div>
            <div class="mb-2">
                <label for="formIdCard" class="form-label fw-bold">หมายเลขบัตรประชาชน*</label>
                <input class="form-control form-control-lg" type="text" id="formIdCard"
                    placeholder="กรอกหมายเลขบัตรประชาชน" required>
            </div>
            <div class="mb-2">
                <label for="formTel" class="form-label fw-bold">เบอร์โทรศัพท์*</label>
                <input class="form-control form-control-lg" type="text" id="formTel"
                    placeholder="กรอกอีเมลเบอร์โทรศัพท์" required>
            </div>
            <div class="mb-2">
                <label for="formEmail" class="form-label fw-bold">อีเมล*</label>
                <input class="form-control form-control-lg" type="text" id="formEmail" placeholder="กรอกอีเมล" required>
            </div>
            <div class="mb-2">
                <label for="formPassword" class="form-label fw-bold">รหัสผ่าน*</label>
                <input class="form-control form-control-lg" type="password" name="password" id="formPassword"
                    placeholder="กรอกรหัสผ่าน" required>
            </div>
            <div class="mb-2">
                <label for="formType" class="form-label fw-bold">ประเภทบุคคล*</label>
                <select class="form-select" size="3" multiple required>
                    <option value="" selected disabled>เลือกประเภทบุคคล</option>
                    <option class="text-dark" value="1">เจ้าของห้อง</option>
                    <option class="text-dark" value="2">ผู้อยู่อาศัย</option>
                    <option class="text-dark" value="3">ผู้เข้าพบ</option>
                </select>
            </div>

            <div class="mb-2">
                <label for="dateStart" class="form-label fw-bold">วันที่เริ่มต้น*</label>
                <input class="form-control form-control-lg" type="text" onfocus="(this.type = 'date')"
                    placeholder="เลือกวันที่เริ่มต้น" required />
            </div>
            <div class="mb-2">
                <label for="dateEnd" class="form-label fw-bold">วันที่สิ้นสุด</label>
                <input class="form-control form-control-lg" type="text" onfocus="(this.type = 'date')"
                    placeholder="เลือกวันที่สิ้นสุด" />
            </div>
            <div class="mb-4">
                <label for="rooms" class="form-label fw-bold">ห้อง*</label>
                <select class="form-select form-select-lg" required>
                    <option value="" selected disabled hidden>เลือกห้อง</option>
                    <option class="text-dark" value="1">One</option>
                    <option class="text-dark" value="2">Two</option>
                    <option class="text-dark" value="3">Three</option>
                </select>
            </div>

            <!-- <app-member-adit-card-car></app-member-adit-card-car> -->
            <app-member-edit-card-doc></app-member-edit-card-doc>

            <div class="mt-4"></div>
            <div class="row g-3">
                <div class="col d-grid">
                    <button type="button" name="cancle" class="btn btn-outline-dark btn-lg"
                        style="height: 48px;">ยกเลิก</button>
                </div>
                <div class="col d-grid">
                    <button type="button" name="save" class="btn btn-dark btn-lg" style="height: 48px;">บันทึก</button>
                </div>
            </div>

        </div>
    </div>
</div>