<div class="container">
    <div class="row">
        <div class="col-sm-8 mx-auto">
            <div class="mt-3"></div>

            <div class="mb-2">
                <p class="form-label fw-bold">สิทธิ์การใช้งานระบบการจัดการที่จอดรถ</p>
                <hr class="border border-1 border-dark">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckAll">
                    <label class="form-check-label" for="flexCheckAll">
                        เลือกทั้งหมด
                    </label>
                </div>
                <hr class="border border-secondary">
            </div>

            <div class="mb-2">
                <label for="carAll" class="form-label">ข้อมูลรถทั้งหมด</label>
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1">
                            <label class="form-check-label" for="flexCheckChecked1">
                                เพิ่มรถ
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2">
                            <label class="form-check-label" for="flexCheckChecked2">
                                แก้ไขรถ
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3">
                            <label class="form-check-label" for="flexCheckChecked3">
                                ลบรถ
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-2">
                <label for="carType" class="form-label">รูปแบบรถ</label>
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckAdd">
                            <label class="form-check-label" for="flexCheckAdd">
                                เพิ่มรูปแบบรถยนต์
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckEdit">
                            <label class="form-check-label" for="flexCheckEdit">
                                แก้ไขรูปแบบรถยนต์
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDelete">
                            <label class="form-check-label" for="flexCheckDelete">
                                ลบรูปแบบรถยนต์
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-2">
                <label for="carBrand" class="form-label">แบรนด์รถ</label>
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckAddBrand">
                            <label class="form-check-label" for="flexCheckAddBrand">
                                เพิ่มแบรนด์รถยนต์
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckEditBrand">
                            <label class="form-check-label" for="flexCheckEditBrand">
                                แก้ไขแบรนด์รถยนต์
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDeleteBrand">
                            <label class="form-check-label" for="flexCheckDeleteBrand">
                                ลบแบรนด์รถยนต์
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-2">
                <label for="control" class="form-label">ระบบควบคุมไม้กั้นรถ</label>
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckControl1">
                            <label class="form-check-label" for="flexCheckControl1">
                                ควบคุมการยกไม้กั้น
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckControlOpen">
                            <label class="form-check-label" for="flexCheckControlOpen">
                                เปิด/ปิดประตูไม้กั้น
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>