#btnEdit,#btnDelete{
    width: 48px;
    height: 48px;
    border-radius: 8px;
}
.btn{
    border-radius: 8px;
    width: 212px;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
    
}
label{
   color: #231F20;
   font-size: 14px;
}
h6{
    font-size: 18px;
    color: #890203;
}
.centerImg{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
    text-align: center;
}
#btnSave,#btnCancle{
    width : 118px;
    height: 48px;
    border-radius: 8px;
}