label{
    font-size: 14px;
    line-height: 16px;
    color: #890203;
}
select,input{
box-sizing: border-box;
border-radius: 8px;
}
.btn{
    border-radius: 8px;
    width: 212px;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
    
}