<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <app-edit-type-info-left></app-edit-type-info-left>
        </div>
        <div class="col-md-6">
            <app-edit-type-info-right></app-edit-type-info-right>
        </div>

    </div><br>
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <button type="button" name="cancle" id="btn-cancle" class="btn btn-outline-dark btn-lg">ยกเลิก</button>
            &nbsp;

            <button type="button" name="save" class="btn btn-dark btn-lg">บันทึก</button>
        </div>
    </div>
</div>