<div class="row">
    <div class="col-sm-6 mx-auto">
        <div class="fw-bold">ยานพาหนะ</div>
        <hr>
        <div class="row mb-4">
            <div class="mb-2 row">
                <div class="fw-bold">Toyota</div>
            </div>
            <div class="hstack gap-2">
                <div class="fw-normal">รุ่นรถยนต์ :</div>
                <div class="fw-normal">Yaris</div>
            </div>
            <div class="hstack gap-2">
                <div class="fw-normal">สีรถยนต์ :</div>
                <div class="fw-normal">แดงเมทัลลิก</div>
            </div>
            <div class="hstack gap-2">
                <div class="fw-normal">เลขทะเบียน :</div>
                <div class="fw-normal">กข1234 สมุทรปราการ</div>
            </div>
        </div>

        <div class="fw-bold">รูปบัตรประชาชน</div>
        <hr>
        <div class="row mb-4">
            <div class="hstack gap-3">
                <img src="/assets/doc-jpg.svg" alt="jpg-file" width="30" height="30">
                <div class="fw-normal">ID Card.JPG</div>
                <a href="#" class="fw-normal ms-auto" style="color: #890203;">ดูรูปบัตร</a>
            </div>
        </div>

        <div class="fw-bold">ห้องที่เป็นเจ้าของ</div>
        <hr>
        <div class="row g-2 mb-3">
            <div class="col">
                <img src="https://mdbootstrap.com/img/new/standard/city/047.jpg" class="rounded" alt="image-room"
                    width="150" height="100">
            </div>
            <div class="col align-middle">
                <div class="mb-2">
                    <div class="fw-bold">เลขที่ห้อง : AA/001</div>
                </div>
                <div class="row">
                    <div class="hstack gap-2">
                        <div class="fw-normal">รูปแบบห้อง :</div>
                        <div class="fw-normal">รูปแบบห้อง 1</div>
                    </div>
                    <div class="hstack gap-2">
                        <div class="fw-normal">ชั้น :</div>
                        <div class="fw-normal">1</div>
                    </div>
                    <div class="hstack gap-2">
                        <div class="fw-normal">จำนวนผู้อยู่อาศัย :</div>
                        <div class="fw-normal">2/3 คน</div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div class="fw-bold">รายการเอกสาร 1 </div>
        <hr>
        <div class="row mb-2">
            <div class="hstack gap-3">
                <img src="/assets/doc-pdf.svg" alt="jpg-file" width="30" height="30">
                <div class="fw-normal">เอกสารสำคัญ.DOCX</div>
                <a href="#" class="fw-normal ms-auto" style="color: #890203;">ดูเอกสาร</a>
            </div>
        </div>
        <div class="row mb-4">
            <div class="hstack gap-3">
                <img src="/assets/doc-docx.svg" alt="jpg-file" width="30" height="30">
                <div class="fw-normal">เอกสาร 1.PDF</div>
                <a href="#" class="fw-normal ms-auto" style="color: #890203;">ดูเอกสาร</a>
            </div>
        </div>

        <div class="fw-bold">สแกนใบหน้า</div>
        <hr>
        <div class="row mb-4">
            <div class="hstack gap-3">
                <img src="/assets/doc-jpg.svg" alt="jpg-file" width="30" height="30">
                <div class="fw-normal">Scan.JPG</div>
                <a href="#" class="fw-normal ms-auto" style="color: #890203;">ดูรูปสแกน</a>
            </div>
        </div>

    </div>
</div>