.card {
  border-radius: 8px;
}
.form-select,
.form-control {
  border-radius: 8px;
  font-size: 14px;
}
select:required {
  color: gray;
}

.btn {
  height: 48px;
  border-radius: 8px;
  font-size: 14px;
}
