<div class="card">
    <div class="card-body">
        <div class="form-group row">

            <div class="col-auto align-self-center">
                <label for="member-type-selector">ประเภทบุคคล</label>
            </div>

            <div class="col-sm-3 align-self-center">
                <select class="form-select form-select-lg" id="member-type-selector" required>
                    <option value="" disabled selected hidden>เลือกประเภทบุคคล</option>
                    <option class="text-dark" value="owner">เจ้าของห้อง</option>
                    <option class="text-dark" value="residents">ผู้อยู่อาศัย</option>
                    <option class="text-dark" value="visitor">ผู้เข้าพบ</option>
                </select>
            </div>

            <div class="col">
                <div class="hstack gap-3 justify-content-md-end">
                    <a href="members/edit">
                        <button type="button" class="btn btn-outline-dark">
                            <img src="/assets/Vector_edit.svg" alt="edit">
                        </button>
                    </a>
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                        data-bs-target="#delModal">
                        <img src="/assets/Vector_delete.svg" alt="delete">
                    </button>
                </div>
            </div>
        </div>

        <!-- delModal -->
        <div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="mt-3"></div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="mb-4">
                                <img src="/assets/delModal.svg" alt="delete">
                            </div>
                            <p class="fw-bold">คุณต้องการลบข้อมูลประเภทบุคคลนี้หรือไม่</p>
                        </div>
                        <div class="row g-2 justify-content-center">
                            <div class="col-4 d-grid">
                                <button type="button" class="btn btn-outline-dark"
                                    data-bs-dismiss="modal">ยกเลิก</button>
                            </div>
                            <div class="col-4 d-grid">
                                <button type="button" class="btn btn-dark">ลบประเภทบุคคล</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>