#btnCancle,#btnSave{
    width: 150px;
    height : 48px;
    border-radius: 8px;
}
.centerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input,select{
    border-radius: 8px;
}
.btn{
    height : 48px;
    width: 48px;
    border-radius: 8px;
}