<nav id="sidebar">
    <ul class="list-unstyled components">
        <li class="active">
            <a class="dropdown-toggle" data-bs-toggle="collapse" href="#roomSubmenu" aria-expanded="false"
                aria-controls="contentRoom">
                <img class="people" src="/assets/Icon-Room.svg" /> การจัดการห้อง
            </a>
            <div class="collapse" id="roomSubmenu">
                <ul class="list-unstyled" style="font-size: 14px;">
                    <li><a href="rooms/room-list" class="d-inline-flex align-items-center rounded">ข้อมูลห้องทั้งหมด</a>
                    </li>
                    <li><a href="" class="d-inline-flex align-items-center rounded">รูปแบบห้อง</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="list-unstyled components">
        <li class="active">
            <a class="dropdown-toggle" data-bs-toggle="collapse" href="#memberSubmenu" aria-expanded="false"
                aria-controls="contentMember">
                <img class="people" src="/assets/Icon-People.svg" />
                การจัดการผู้ใช้
            </a>
            <div class="collapse" id="memberSubmenu">
                <ul class="list-unstyled" style="font-size: 14px;">
                    <li>
                        <a href="members/all-members"
                            class="d-inline-flex align-items-center rounded">ข้อมูลคนทั้งหมด</a>
                    </li>
                    <li>
                        <a href="members/types" class="d-inline-flex align-items-center rounded">ประเภทบุคคล</a>
                    </li>
                    <li>
                        <a href="members/approve-people"
                            class="d-inline-flex align-items-center rounded">ระบบอนุมัติการเพิ่มคน</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>


<!-- <ul class="list-unstyled components">
            <li class="active">
                <a href="#memberSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <img class="people" src="/assets/Icon-People.svg" /> การจัดการผู้ใช้
                </a>
                <ul class="collapse list-unstyled" id="memberSubmenu">
                    <li>
                        <a href="members/all-members">ข้อมูลคนทั้งหมด</a>
                    </li>
                    <li>
                        <a href="members/types">ประเภทบุคคล</a>
                    </li>
                    <li>
                        <a href="members/approve-people">ระบบอนุมัติการเพิ่มคน</a>
                    </li>
                </ul>
            </li>
        </ul> -->