<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-12">
            <button type="button" class="btn btn-outline-dark float-start"><img src="/assets/Vector_back.svg" alt="back"
                    action="action" onclick="window.history.go(-1); return false;">
            </button>

            <div class="d-flex flex-row">
                <div class="p-2">
                    <strong>การจัดการผู้ใช้</strong>
                </div>
                <div class="p-2"><img src="/assets/next-page.svg" alt=""></div>
                <div class="p-2">
                    <strong>ระบบอนุมัติการเพิ่มคน</strong>
                </div>
                <div class="p-2"><img src="/assets/next-page.svg" alt=""></div>
                <div class="p-2">
                    <strong>ขอข้อมูลเพิ่ม</strong>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="overflow-auto">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <app-request-card-left></app-request-card-left>
                    </div>
                    <!-- <div class="vl"></div> -->
                    <div class="col">
                        <app-request-card-right></app-request-card-right>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>