.card {
  // height: calc(100vh - 190px);
  // overflow: auto;
  border-radius: 8px;
}

//input style
#searchInput {
  background: url(/assets/search.svg) right no-repeat;
  border: none;
  border-bottom: 2px solid #d1d0d0;
  border-radius: 1px;
}

//table style
.table th,
td {
  border-color: #c4c4c4;
}
.fw-bold {
  color: #890203;
}

//button style
.btn-dark,
.btn-modal {
  border-radius: 8px;
  font-size: 14px;
  width: 130px;
  height: 48px;
}
.btn-outline-secondary {
  border-radius: 8px;
  width: 48px;
  height: 48px;
}
#btnView {
  background: url(/assets/Vector-show.svg) center no-repeat;
}
#btnEdit {
  background: url(/assets/Vector_edit.svg) center no-repeat;
}
#btnDel {
  background: url(/assets/Vector_delete.svg) center no-repeat;
}

//Modal
.modal-content {
  border-radius: 8px;
}

// pagination
.pagination-outer {
  text-align: center;
}
.pagination {
  display: inline-flex;
  position: relative;
}
.pagination li a.page-link {
  color: #231f20;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 39px;
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0 5px;
  border: none;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
  border: 1px solid #939393;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link {
  color: #fff;
  background: #231f20;
}
