<div class="card">
    <div class="card-body">

        <div class="row text-center mb-4 mt-2">
            <h3 class="fw-bold">เจ้าของห้อง</h3>
        </div>

        <form class="row">

            <!-- สิทธิ์การใช้งาน -->
            <div class="mb-5">
                <label for="license" class="form-label fw-bold fs-5 lh-1">สิทธิ์การใช้งาน</label>
                <hr class="border border-dark">
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault1-1" id="add-residents">
                            <label class="form-check-label fs-5" for="add-residents">
                                เพิ่มผู้อยู่อาศัย
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault1-2"
                                id="invite-visitors">
                            <label class="form-check-label fs-5" for="invite-visitors">
                                เชิญผู้เข้าพบ
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault1-3" id="reserve-areas">
                            <label class="form-check-label fs-5" for="reserve-areas">
                                จองพื้นที่ส่วนกลาง
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault1-4" id="resident">
                            <label class="form-check-label fs-5" for="resident">
                                เป็นผู้อยู่อาศัย
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->

            <!-- สิทธิ์การมีรูปแบบรถ -->
            <div class="mb-5">
                <label for="carModel" class="form-label fw-bold fs-5 lh-1">สิทธิ์การมีรูปแบบรถ</label>
                <hr class="border border-dark">
                <div class="col">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault2-1" id="car1">
                        <label class="form-check-label fs-5" for="car1">
                            รูปแบบรถ 1
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault2-2" id="car2">
                        <label class="form-check-label fs-5" for="car2">
                            รูปแบบรถ 2
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault2-3" id="car3">
                        <label class="form-check-label fs-5" for="car3">
                            รูปแบบรถ 3
                        </label>
                    </div>
                </div>
            </div>
            <!-- end -->

            <!-- สิทธิ์จองพื้นที่ส่วนกลาง -->
            <div class="mb-5">
                <label for="area" class="form-label fw-bold fs-5 lh-1">สิทธิ์จองพื้นที่ส่วนกลาง</label>
                <hr class="border border-dark">
                <div class="col">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault3-1" id="swimming-pool">
                        <label class="form-check-label fs-5" for="swimming-pool">
                            สระว่ายน้ำ
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault3-2" id="gym">
                        <label class="form-check-label fs-5" for="gym">
                            ห้องออกกำลังกาย
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault3-3" id="roof-garden">
                        <label class="form-check-label fs-5" for="roof-garden">
                            สวนบนดาดฟ้า
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault3-4" id="meeting-room">
                        <label class="form-check-label fs-5" for="meeting-room">
                            ห้องประชุม
                        </label>
                    </div>
                </div>
            </div>
            <!-- end -->

            <!-- สิทธิ์เพิ่มผู้อยู่อาศัย -->
            <div class="mb-5">
                <label for="residents" class="form-label fw-bold fs-5 lh-1">สิทธิ์เพิ่มผู้อยู่อาศัย</label>
                <hr class="border border-dark">
                <div class="col">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault4-1" id="residents">
                        <label class="form-check-label fs-5" for="residents">
                            ผู้อยู่อาศัย
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault4-2" id="visitor">
                        <label class="form-check-label fs-5" for="visitor">
                            ผู้เข้าพบ
                        </label>
                    </div>
                </div>
            </div>
            <!-- end -->

            <!-- เอกสารที่อัพโหลด -->
            <div class="mb-5">
                <label for="document" class="form-label fw-bold fs-5 lh-1">เอกสารที่อัพโหลด</label>
                <hr class="border border-dark">
                <div class="col">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault5" id="document">
                        <label class="form-check-label fs-5" for="document">
                            เอกสาร1
                        </label>
                    </div>
                </div>
            </div>
            <!-- end -->

            <!-- ชั้นที่เข้าได้ -->
            <div class="mb-3">
                <label for="floor" class="form-label fw-bold fs-5 lh-1">ชั้นที่เข้าได้</label>
                <hr class="border border-dark">
                <div class="fs-5 fw-normal mb-2">ประตูที่สามารถผ่านได้</div>
                <div class="col">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="flexRadioPublic" id="public-gate">
                        <label class="form-check-label fs-5" for="public-gate">
                            ประตูสาธารณะ
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="flexRadioBuilding" id="building-door">
                        <label class="form-check-label fs-5" for="building-door">
                            ประตูอาคาร
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="flexRadioFloor" id="floor-door">
                        <label class="form-check-label fs-5" for="floor-door">
                            ประตูประจำชั้น
                        </label>
                    </div>
                </div>
                <hr class="border border-dark">
                <div class="row">
                    <div class="col">
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="radio" name="inlineRadioFloor1" id="floor1"
                                value="floor1">
                            <label class="form-check-label fs-5" for="floor1">ชั้น 1</label>
                        </div>
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="radio" name="inlineRadioFloor6" id="floor6"
                                value="option1">
                            <label class="form-check-label fs-5" for="floor6">ชั้น 6</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="radio" name="inlineRadioFloor2" id="floor2"
                                value="option2">
                            <label class="form-check-label fs-5" for="floor2">ชั้น 2</label>
                        </div>
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="radio" name="inlineRadioFloor7" id="floor7"
                                value="option1">
                            <label class="form-check-label fs-5" for="floor7">ชั้น 7</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="radio" name="inlineRadioFloor3" id="floor3"
                                value="option3">
                            <label class="form-check-label fs-5" for="floor3">ชั้น 3</label>
                        </div>
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="radio" name="inlineRadioFloor8" id="floor8"
                                value="option1">
                            <label class="form-check-label fs-5" for="floor8">ชั้น 8</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="radio" name="inlineRadioFloor4" id="floor4"
                                value="option3">
                            <label class="form-check-label fs-5" for="floor4">ชั้น 4</label>
                        </div>
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="radio" name="inlineRadioFloor9" id="floor9"
                                value="option1">
                            <label class="form-check-label fs-5" for="floor9">ชั้น 9</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="radio" name="inlineRadioFloor5" id="floor5"
                                value="option3">
                            <label class="form-check-label fs-5" for="floor5">ชั้น 5</label>
                        </div>
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="radio" name="inlineRadioFloor10" id="floor10"
                                value="option1">
                            <label class="form-check-label fs-5" for="floor10">ชั้น 10</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->

        </form>

    </div>
</div>