//card
.card {
  border-radius: 8px;
}

//font
.fw-bold {
  font-size: 14px;
  color: #890203;
}

//form
.form-control {
  border-radius: 8px;
  font-size: 14px;
}

//button
.btn-upload {
  border-radius: 8px;
}
.btn-footer {
  border-radius: 8px;
  height: 48px;
}

#cardImage {
  height: 300px;
  box-shadow: none;
  border-radius: 8px;
}
