.card {
  // height: calc(100vh - 100px);
  // overflow: auto;
  border-radius: 8px;
}

//form-input
.form-control,
.form-select,
.btn {
  border-radius: 8px;
  font-size: 14px;
}
select:required:invalid {
  color: gray;
}

//font
.form-label {
  font-size: 14px;
}
.fw-bold {
  color: #890203;
}

.btnRight {
  width: 212px;
  height: 48px;
}

//form card
#formCar,
#formResidents {
  height: 144px;
  border-radius: 8px;
  box-shadow: none;
}
#formDoc {
  height: 150px;
  border-radius: 8px;
  box-shadow: none;
}
