<div class="container-fluid">
    <div class="row mb-3">
        <div class="col align-self-center">
            <div class="hstack gap-3 align-items-center">
                <strong>การจัดการพื้นที่</strong>
                <img src="/assets/next-page.svg" alt="next">
                <strong>พื้นที่กิจกรรม</strong>
            </div>
        </div>
        <div class="col">
            <a href="central-area/add-type-area">
                <button type="button" class="btn btn-dark float-end">
                    <img src="/assets/add.svg" class="float-start" alt="add">
                    <span class="align-middle p-1" style="font-size:14px">เพิ่มพื้นที่กิจกรรม</span>
                </button>
            </a>
        </div>
    </div>
    <app-card-list-activity></app-card-list-activity>
</div>