<div class="card">
    <div class="card-body">
        <div class="row">

            <div class="col-12 mb-3">
                <label class="fw-bold">ชั้น*</label>
                <select class="form-select" aria-label="selectFloor">
                    <option value="1"> 1</option>
                    <option value="2"> 2</option>
                    <option value="3"> 3</option>
                </select>
            </div>

            <div class="col-12 mb-3">
                <label class="fw-bold">รูปแบบห้อง*</label>
                <select class="form-select" aria-label="selectTypeRoom">
                    <option value="room1">รูปแบบห้อง 1</option>
                    <option value="room2">รูปแบบห้อง 2</option>
                    <option value="room3">รูปแบบห้อง 3</option>
                </select>
            </div>

            <div class="col-12 mb-3">
                <label class="fw-bold">เลขที่ห้อง*</label>
                <input type="text" class="form-control">
            </div>

            <div class="col-12 mb-3">
                <label class="fw-bold">เลขที่บ้าน</label>
                <input type="text" class="form-control">
            </div>

            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <button type="button" name="cancle" id="btn-cancle" class="btn btn-outline-dark">ยกเลิก</button>
                    <button type="button" id="btnSave" name="save" class="btn btn-dark">บันทึก</button>
                </div>
            </div>

        </div>
    </div>
</div>