<div class="card">
    <div class="card-body">
        <div class="col-sm-5 mx-auto">

            <div class="mb-3">
                <label for="formFile" class="form-label"><strong>อัพโหลดรูปผู้ใช้*</strong></label>
                <div class="form-group">
                    <div class="row justify-content-between">
                        <div class="col-9">
                            <input type="text" class="form-control" id="formFile">
                        </div>
                        <div class="col-3">
                            <button class="btn btn-dark float-end" style="width:94px;height:39px ;">อัพโหลด</button>
                        </div>
                    </div>
                </div>
                <!-- <input class="form-control" type="file" id="formFile"> -->
                <span>*อัพโหลดเฉพาะไฟล์ jpg. หรือ png.</span>
            </div>
            <div class="mb-3">
                <label for="formFileId" class="form-label"><strong>อัพโหลดรูปบัตรประชาชน*</strong></label>
                <div class="form-group">
                    <div class="row justify-content-between">
                        <div class="col-9">
                            <input type="text" class="form-control" id="formFileId">
                        </div>
                        <div class="col-3">
                            <button class="btn btn-dark float-end" style="width:94px;height:39px ;">อัพโหลด</button>
                        </div>
                    </div>
                </div>
                <!-- <input class="form-control" type="file" id="formFileId"> -->
                <span>*อัพโหลดเฉพาะไฟล์ jpg. หรือ png.</span>
            </div>
            <div class="mb-3">
                <label for="formName" class="form-label"><strong>ชื่อ*</strong></label>
                <input class="form-control" type="text" id="formName" placeholder="กรอกชื่อ">
            </div>
            <div class="mb-3">
                <label for="formLast" class="form-label"><strong>นามสกุล*</strong></label>
                <input class="form-control" type="text" id="formLast" placeholder="กรอกนามสกุล">
            </div>
            <div class="mb-3">
                <label for="formIdCard" class="form-label"><strong>หมายเลขบัตรประชาชน*</strong></label>
                <input class="form-control" type="text" id="formIdCard" placeholder="กรอกหมายเลขบัตรประชาชน">
            </div>
            <div class="mb-3">
                <label for="formTel" class="form-label"><strong>เบอร์โทรศัพท์*</strong></label>
                <input class="form-control" type="text" id="formTel" placeholder="กรอกอีเมลเบอร์โทรศัพท์">
            </div>
            <div class="mb-3">
                <label for="formEmail" class="form-label"><strong>อีเมล*</strong></label>
                <input class="form-control" type="text" id="formEmail" placeholder="กรอกอีเมล">
            </div>
            <div class="mb-3">
                <label for="formPassword" class="form-label"><strong>รหัสผ่าน*</strong></label>
                <input class="form-control" type="password" name="password" id="formPassword"
                    placeholder="กรอกรหัสผ่าน">
            </div>
            <div class="mb-3">
                <label for="formType" class="form-label"><strong>ประเภทบุคคล*</strong></label>
                <select class="form-select">
                    <option selected>เลือกประเภทบุคคล</option>
                    <option value="1">เจ้าของห้อง</option>
                    <option value="2">ผู้อยู่อาศัย</option>
                    <option value="3">ผู้เข้าพบ</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="dateStart" class="form-label"><strong>วันที่เริ่มต้น*</strong></label>
                <input class="form-control" type="date" value="2020-11-30" />
            </div>
            <div class="mb-3">
                <label for="dateEnd" class="form-label"><strong>วันที่สิ้นสุด</strong></label>
                <input class="form-control" type="date" value="2020-11-30" />
            </div>
            <div class="mb-3">
                <label for="rooms" class="form-label"><strong>ห้อง*</strong></label>
                <select class="form-select">
                    <option selected>เลือกห้อง</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="mb-3">
                <app-member-adit-card-car></app-member-adit-card-car>
            </div>

            <app-member-edit-card-doc></app-member-edit-card-doc>

            <div class="row justify-content-between">
                <div class="col-6">
                    <button type="button" name="cancle" id="btn-cancle"
                        class="btn btn-outline-dark btn-lg">ยกเลิก</button>
                </div>
                <div class="col-6">
                    <button type="button" name="save" class="btn btn-dark btn-lg">บันทึก</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- <input type="date" value="2020-11-30" /> -->
<script>
    const input = document.querySelector('input');
    input.value = '2020-11-30';
</script>