<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-12">
            <!-- <a href="rooms/room-list"> -->
            <button type="button" class="btn btn-outline-dark float-start"><img src="/assets/Vector_back.svg" alt="back"
                    action="action" onclick="window.history.go(-1); return false;">
            </button>
            <!-- </a> -->
            <div class="d-flex flex-row">
                <div class="p-2">
                    <strong>การจัดการห้อง</strong>
                </div>
                <div class="p-2"><img src="/assets/next-page.svg" alt=""></div>
                <div class="p-2">
                    <strong>ข้อมูลห้องทั้งหมด</strong>
                </div>
                <div class="p-2"><img src="/assets/next-page.svg" alt=""></div>
                <div class="p-2">
                    <strong>แก้ไขห้อง</strong>
                </div>
                <div class="p-2"><img src="/assets/next-page.svg" alt=""></div>
                <div class="p-2">
                    <strong>เพิ่มผู้เข้าถึงห้อง</strong>
                </div>
            </div>
        </div>
    </div>

    <app-card-edit-access></app-card-edit-access>
</div>