<div class="row">

    <div class="col-md-6">
        <app-edit-type-info-left></app-edit-type-info-left>
    </div>
    <div class="col-md-6">
        <app-edit-type-info-right></app-edit-type-info-right>
    </div>

</div>
<div class="mt-4"></div>

<div class="row g-3 justify-content-center">
    <div class="col-3 d-grid">
        <button type="button" name="cancle" class="btn btn-outline-dark btn-light btn-lg bg-white">ยกเลิก</button>
    </div>
    <div class="col-3 d-grid">
        <button type="button" name="save" class="btn btn-dark btn-lg ">บันทึก</button>
    </div>
</div>