<body>
    <form>
        <div class="container"><br>
            <div class="row">
                <div class="col-md-12">
                    <a href="add_person">
                        <button type="button" class="btn btn-dark float-end"><img src="/assets/add.svg" alt="delete">
                            &nbsp;เพิ่มประเภทบุคคล</button></a>
                </div>
            </div><br>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">ประเภทบุคคล</label>
                            <div class="col-sm-3">
                                <select class="form-select">
                                    <option selected>(ประเภทบุคคล)</option>
                                </select>
                            </div>
                            <div class="col-sm-7" style="text-align: right;">
                                <button type="button" class="btn btn-outline-dark"><img src="/assets/Vector_edit.svg"
                                        alt="edit"></button>&nbsp;

                                <button type="button" class="btn btn-outline-dark"><img src="/assets/Vector_delete.svg"
                                        alt="delete"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="row justify-content-between">
                <div class="col-md-6">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <h3 style="text-align: center;">(ประเภทบุคคล)</h3><br>
                                    <p>สิทธิ์การมีรูปแบบรถ</p>
                                    <hr>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="typeCars" id="typeCars1"
                                            value="car1">
                                        <label class="form-check-label" for="typeCars1">
                                            รูปแบบรถที่ 1
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="typeCars" id="typeCars2"
                                            value="car2">
                                        <label class="form-check-label" for="typeCars2">
                                            รูปแบบรถที่ 2
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="typeCars" id="typeCars3"
                                            value="car3">
                                        <label class="form-check-label" for="typeCars3">
                                            รูปแบบรถที่ 3
                                        </label>
                                    </div>
                                </div><br>

                                <div class="form-group">
                                    <p>สิทธิ์จองพื้นที่ส่วนกลาง</p>
                                    <hr>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="commonArea" id="commonArea1"
                                            value="area1">
                                        <label class="form-check-label" for="commonArea1">
                                            สระว่ายน้ำ
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="commonArea" id="commonArea2"
                                            value="area2">
                                        <label class="form-check-label" for="commonArea2">
                                            ห้องออกกำลังกาย
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="commonArea" id="commonArea3"
                                            value="area3">
                                        <label class="form-check-label" for="commonArea3">
                                            สวนบนดาดฟ้า
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="commonArea" id="commonArea4"
                                            value="area4">
                                        <label class="form-check-label" for="commonArea4">
                                            ห้องประชุม
                                        </label>
                                    </div>
                                </div><br>

                                <div class="form-group">
                                    <p>สิทธิ์เพิ่มผู้อยู่อาศัย</p>
                                    <hr>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="residents" id="residents1"
                                            value="res1">
                                        <label class="form-check-label" for="residents1">
                                            ผู้อยู่อาศัย
                                        </label>
                                    </div>
                                </div><br>

                                <div class="form-group">
                                    <p>เอกสารที่อัพโหลด</p>
                                    <hr>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="document" id="document1"
                                            value="doc1">
                                        <label class="form-check-label" for="document1">
                                            เอกสาร1
                                        </label>
                                    </div>
                                </div><br>

                                <div class="form-group">
                                    <p>ชั้นที่เข้าได้</p>
                                    <hr>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="accessFloor"
                                            id="accessFloor1" value="floor1">
                                        <label class="form-check-label" for="accessFloor1">
                                            ชั้นที่1
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="accessFloor"
                                            id="accessFloor2" value="floor2">
                                        <label class="form-check-label" for="accessFloor2">
                                            ชั้นที่2
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="door-tab" data-toggle="tab" href="#door"
                                            role="tab" aria-controls="door"
                                            aria-selected="true">สิทธิ์การเข้าออกประตู</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="elevator-tab" data-toggle="tab" href="#elevator"
                                            role="tab" aria-controls="elevator"
                                            aria-selected="true">สิทธิ์การเข้าออกลิฟต์</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="door" role="tabpanel"
                                        aria-labelledby="door-tab"><br>

                                        <div class="form-group">
                                            <div class="form-group row">
                                                <label class="col-sm-2 control-label">ชั้น</label>
                                                <div class="col-sm-3">
                                                    <select class="form-select">
                                                        <option selected>1</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div><br>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ชื่อประตู</th>
                                                    <th scope="col">ชั้น</th>
                                                    <th scope="col">เวลาเปิด</th>
                                                    <th scope="col">เวลาปิด</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="tab-pane fade" id="elevator" role="tabpanel"
                                        aria-labelledby="elevator-tab">
                                        <br>

                                        <div class="form-group">
                                            <div class="form-group row">
                                                <label class="col-sm-2 control-label">ชั้น</label>
                                                <div class="col-sm-3">
                                                    <select class="form-select">
                                                        <option selected>1</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div><br>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ชื่อลิฟต์</th>
                                                    <th scope="col">ชั้น</th>
                                                    <th scope="col">เวลาเปิด</th>
                                                    <th scope="col">เวลาปิด</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>