.card {
  border-radius: 8px;
}

//form
.fw-bold {
  font-size: 14px;
  color: #890203;
}
.form-control {
  border-radius: 8px;
  font-size: 14px;
}

//button
.btn {
  border-radius: 8px;
}

#cardImage {
  box-shadow: none;
  height: 300px;
}
