<nav id="sidebar">
    <ul class="list-unstyled components">
        <li class="active">
            <a href="dashboard">
                <img src="/assets/Icon-Dashboard.svg" alt="Dashboard" />
                แดชบอร์ด
            </a>
        </li>
    </ul>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="building/list">
                <img src="/assets/Icon-Building.svg" alt="building" />
                การจัดการอาคาร
            </a>
        </li>
    </ul>
    <ul class="list-unstyled components">
        <li class="active">
            <a class="dropdown-toggle" data-bs-toggle="collapse" href="#centralAreaSubmenu" aria-expanded="false"
                aria-controls="contentMember">
                <img src="/assets/Icon-Central-Area.svg" alt="Central-Area" />
                การจัดการพื้นที่
            </a>
            <div class="collapse" id="centralAreaSubmenu">
                <ul class="list-unstyled" style="font-size: 14px;">
                    <li>
                        <a href="central-area/table"
                            class="d-inline-flex align-items-center rounded">ตารางเวลาและวันที่</a>
                    </li>
                    <li>
                        <a href="central-area/central-area"
                            class="d-inline-flex align-items-center rounded">พื้นที่กิจกรรม</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="list-unstyled components">
        <li class="active">
            <a class="dropdown-toggle" data-bs-toggle="collapse" href="#roomSubmenu" aria-expanded="false"
                aria-controls="contentRoom">
                <img src="/assets/Icon-Room.svg" alt="room" /> การจัดการห้อง
            </a>
            <div class="collapse" id="roomSubmenu">
                <ul class="list-unstyled" style="font-size: 14px;">
                    <li><a href="rooms/room-list" class="d-inline-flex align-items-center rounded">
                            ข้อมูลห้องทั้งหมด
                        </a>
                    </li>
                    <li>
                        <a href="rooms/Type-room" class="d-inline-flex align-items-center rounded">รูปแบบห้อง</a>
                    </li>
                    <li><a href="rooms/owner-manage" class="d-inline-flex align-items-center rounded">
                            การจัดการสิทธิ์เจ้าของ
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="list-unstyled components">
        <li class="active">
            <a class="dropdown-toggle" data-bs-toggle="collapse" href="#memberSubmenu" aria-expanded="false"
                aria-controls="contentMember">
                <img src="/assets/Icon-People.svg" alt="people" />
                การจัดการผู้ใช้
            </a>
            <div class="collapse" id="memberSubmenu">
                <ul class="list-unstyled" style="font-size: 14px;">
                    <li>
                        <a href="members/all-members"
                            class="d-inline-flex align-items-center rounded">ข้อมูลคนทั้งหมด</a>
                    </li>
                    <li>
                        <a href="members/types" class="d-inline-flex align-items-center rounded">ประเภทบุคคล</a>
                    </li>
                    <li>
                        <a href="members/approve-people"
                            class="d-inline-flex align-items-center rounded">ระบบอนุมัติการเพิ่มคน</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="notification/list">
                <img src="/assets/Icon-Notification.svg" alt="notification" />
                แจ้งเตือน
            </a>
        </li>
    </ul>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="slideShows">
                <img src="/assets/Icon-Slideshows.svg" alt="slideImages" />
                จัดการรูปภาพหลัก
            </a>
        </li>
    </ul>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="admin/List">
                <img src="/assets/Icon-Admin.svg" alt="admin" />
                การจัดการผู้ดูแล
            </a>
        </li>
    </ul>
</nav>