<div class="card">
    <div class="card-body">
        <div class="mt-2"></div>
        <div class="text-center mb-3">
            <img class="rounded-circle" alt="" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                data-holder-rendered="true" width="213" height="213">
        </div>
        <div class="text-center mb-3">
            <h4 class="fw-bold">ID ผู้ใช้งาน : 123456</h4>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6 mx-auto">
                <div class="fw-bold">ข้อมูลส่วนตัว</div>
                <hr>
                <div class="row">
                    <div class="mb-3 row">
                        <div class="col fw-normal">หมายเลขบัตรประชาชน :</div>
                        <div class="col fw-normal">1234567891234</div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col fw-normal">ชื่อ :</div>
                        <div class="col fw-normal">ชาญชัย</div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col fw-normal">นามสกุล :</div>
                        <div class="col fw-normal">สุขดี</div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col fw-normal">เบอร์โทร :</div>
                        <div class="col fw-normal">0987654321</div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col fw-normal">อีเมล :</div>
                        <div class="col fw-normal">chan.chai@email.com</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="fw-bold">รูปบัตรประชาชน</div>
                <hr>
                <div class="row mb-4">
                    <div class="hstack gap-3">
                        <img src="/assets/doc-jpg.svg" alt="jpg-file" width="30" height="30">
                        <div class="fw-normal">ID Card.JPG</div>
                        <a href="#" class="fw-normal ms-auto" style="color: #890203;">ดูรูปบัตร</a>
                    </div>
                </div>

                <div class="fw-bold">รายการเอกสาร 1 </div>
                <hr>
                <div class="row mb-2">
                    <div class="hstack gap-3">
                        <img src="/assets/doc-pdf.svg" alt="jpg-file" width="30" height="30">
                        <div class="fw-normal">เอกสารสำคัญ.DOCX</div>
                        <a href="#" class="fw-normal ms-auto" style="color: #890203;">ดูเอกสาร</a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="hstack gap-3">
                        <img src="/assets/doc-docx.svg" alt="jpg-file" width="30" height="30">
                        <div class="fw-normal">เอกสาร 1.PDF</div>
                        <a href="#" class="fw-normal ms-auto" style="color: #890203;">ดูเอกสาร</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3"></div>

        <div class="vstack gap-1 col-md-3 mx-auto">
            <button type="button" name="save" class="btn btn-dark btn-lg"
                onclick="window.location.href='dashboard';">กลับสู่หน้าแดชบอร์ด</button>
        </div>

    </div>
</div>