<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-12">
            <a href="rooms/room-list">
                <button type="button" class="btn btn-outline-dark float-start"><img src="/assets/Vector_back.svg"
                        alt="back">
                </button>
            </a>
            <div class="d-flex flex-row">
                <div class="p-2">
                    <strong>การจัดการห้อง</strong>
                </div>
                <div class="p-2"><img src="/assets/next-page.svg" alt=""></div>
                <div class="p-2">
                    <strong>ข้อมูลห้องทั้งหมด</strong>
                </div>
                <div class="p-2"><img src="/assets/next-page.svg" alt=""></div>
                <div class="p-2">
                    <strong>เพิ่มห้อง</strong>
                </div>
                <div class="p-2"><img src="/assets/next-page.svg" alt=""></div>
                <div class="p-2">
                    <strong>เพิ่มผู้เข้าถึงห้อง</strong>
                </div>
            </div>
        </div>
    </div>

    <app-add-access-room-card></app-add-access-room-card>
</div>