<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-12">
            <a href="rooms/Type-room">
                <button type="button" class="btn btn-outline-dark float-start"><img src="/assets/Vector_back.svg"
                        alt="back">
                </button>
            </a>
            <div class="d-flex flex-row">
                <div class="p-2">
                    <strong>การจัดการห้อง</strong>
                </div>
                <div class="p-2"><img src="/assets/next-page.svg" alt=""></div>
                <div class="p-2">
                    <strong>รูปแบบห้อง</strong>
                </div>
                <div class="p-2"><img src="/assets/next-page.svg" alt=""></div>
                <div class="p-2">
                    <strong>เพิ่มรูปแบบห้อง</strong>
                </div>
            </div>
        </div>
    </div>
    <app-add-roomtype-card></app-add-roomtype-card>
</div>