.card {
  // height: calc(100vh - 100px);
  // overflow: auto;
  border-radius: 8px;
}

.fw-bold {
  color: #890203;
  font-size: 14px;
}
input,
select {
  border-radius: 8px;
  font-size: 14px;
}

.btn {
  font-size: 14px;
  border-radius: 8px;
}
#btnUpload {
  width: 100px;
  height: 43px;
}
.btn-form {
  width: 230px;
  height: 48px;
}
