<div class="card">
    <div class="card-body">
        <div class="mt-2"></div>
        <div class="text-center mb-3">
            <img class="rounded-circle" alt="" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                data-holder-rendered="true" width="213" height="213">
        </div>
        <div class="text-center mb-3">
            <h4 class="fw-bold">ID ผู้ใช้งาน : 123456</h4>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6 mx-auto">
                <div class="fw-bold">ข้อมูลส่วนตัว</div>
                <hr>
                <div class="row">
                    <div class="mb-3 row">
                        <div class="col fw-normal">หมายเลขบัตรประชาชน :</div>
                        <div class="col fw-normal">1234567891234</div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col fw-normal">ชื่อ :</div>
                        <div class="col fw-normal">ชาญชัย</div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col fw-normal">นามสกุล :</div>
                        <div class="col fw-normal">สุขดี</div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col fw-normal">เบอร์โทร :</div>
                        <div class="col fw-normal">0987654321</div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col fw-normal">อีเมล :</div>
                        <div class="col fw-normal">chan.chai@email.com</div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col fw-normal">ประเภทบุคคล :</div>
                        <div class="col fw-normal">เจ้าของห้อง</div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col fw-normal">วันที่เริ่มต้น :</div>
                        <div class="col fw-normal">19 มกราคม 2564</div>
                    </div>
                </div>
            </div>
        </div>

        <app-member-info-card-car></app-member-info-card-car>

        <div class="mt-3"></div>

        <div class="vstack gap-1 col-md-3 mx-auto">
            <button type="button" name="save" class="btn btn-dark btn-lg"
                onclick="window.location.href='members/all-members';">กลับสู่ระบบคน</button>
        </div>

    </div>
</div>