<div class="card mb-4">
    <div class="card-body">

        <app-room-list-card-select></app-room-list-card-select>

        <div class="mt-4"></div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table w-100 align-middle">
                        <thead>
                            <tr>
                                <th class="col-1">
                                    <div class="fw-bold">เลขที่ห้อง</div>
                                </th>
                                <th class="col">
                                    <div class="fw-bold">รูปแบบห้อง</div>
                                </th>
                                <th class="col-1">
                                    <div class="fw-bold">อาคาร</div>
                                </th>
                                <th class="col-1">
                                    <div class="fw-bold">ชั้น</div>
                                </th>
                                <th class="col-1">
                                    <div class="fw-bold">ID ผู้ใช้</div>
                                </th>
                                <th class="col-2">
                                    <div class="fw-bold">เจ้าของห้องปัจจุบัน</div>
                                </th>
                                <th class="col-2">
                                    <div class="fw-bold">เบอร์โทร</div>
                                </th>
                                <th class="col">
                                    <div class="fw-bold">เปิด/ปิดห้อง</div>
                                </th>
                                <th class="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AA/001</td>
                                <td>รูปแบบห้อง 1</td>
                                <td>ตึก A</td>
                                <td>1</td>
                                <td>123456</td>
                                <td>ชาญชัย สุขดี</td>
                                <td>0987654321</td>
                                <td>
                                    <div class="d-grid gap-3 d-md-flex">
                                        <button type="button" class="btn btn-lg text-white"
                                            style="background-color:#16c11d;">ON</button>
                                        <button type="button" class="btn text-white"
                                            style="background-color:#b5b5b5;">OFF</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-grid gap-3 d-md-flex justify-content-md-end">
                                        <a href="rooms/room-edit">
                                            <button type="button" class="btn btn-outline-secondary">
                                                <img src="/assets/Vector_edit.svg" alt="edit">
                                            </button>
                                        </a>
                                        <button type="button" class="btn btn-outline-secondary" (click)="btnDel()">
                                            <img src="/assets/Vector_delete.svg" alt="delete">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>AA/002</td>
                                <td>รูปแบบห้อง 1</td>
                                <td>ตึก B</td>
                                <td>1</td>
                                <td>123456</td>
                                <td>ชาญชัย สุขดี</td>
                                <td>0987654321</td>
                                <td>
                                    <div class="d-grid gap-3 d-md-flex">
                                        <button type="button" class="btn btn-lg text-white"
                                            style="background-color:#b5b5b5;">ON</button>
                                        <button type="button" class="btn text-white"
                                            style="background-color:#ed1c24;">OFF</button>
                                    </div>
                                </td>
                                <td>

                                    <div class="d-grid gap-3 d-md-flex justify-content-md-end">
                                        <a href="rooms/room-edit">
                                            <button type="button" class="btn btn-outline-secondary"><img
                                                    src="/assets/Vector_edit.svg" alt="edit">
                                            </button>
                                        </a>
                                        <button type="button" class="btn btn-outline-secondary" (click)="btnDel()">
                                            <img src="/assets/Vector_delete.svg" alt="delete">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<!--pagination  -->
<div class="PageNav">
    <nav class="pagination-outer" aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous" style="background-color:#B5B5B5 ;">
                    <span aria-hidden="true"><img src="/assets/back.svg" alt=""></span>
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Next" style="background-color: #231F20;">
                    <span aria-hidden="true"><img src="/assets/next.svg" alt=""></span>
                </a>
            </li>
        </ul>
    </nav>
</div>