<div class="col-sm-10 mx-auto">
    <div class="mb-2"></div>

    <div class="mb-5 text-start">
        <div class="row justify-content-start">
            <div class="col-3">
                <img class="rounded-circle" alt="" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                    data-holder-rendered="true">
            </div>
            <div class="col-6 align-self-center">
                <h4><b>ID ผู้ใช้งาน : 123456</b></h4>
                <p style="font-size:18px;">ชื่อ : ชาญชัย สุขดี</p>
            </div>
        </div>
    </div>

    <div class="col mb-3">
        <p class="fw-bold">ข้อมูลส่วนตัว</p>
        <hr>

        <div class="row" style="font-size: 18px;">
            <div class="mb-2 row">
                <div class="col">หมายเลขบัตรประชาชน :</div>
                <div class="col">1234567891234</div>
            </div>
            <div class="mb-2 row">
                <div class="col">ชื่อ :</div>
                <div class="col">ชาญชัย</div>
            </div>
            <div class="mb-2 row">
                <div class="col">นามสกุล :</div>
                <div class="col">สุขดี</div>
            </div>
            <div class="mb-2 row">
                <div class="col">เบอร์โทร :</div>
                <div class="col">0987654321</div>
            </div>
            <div class="mb-2 row">
                <div class="col">อีเมล :</div>
                <div class="col">Chanchai.sook@gmail.com</div>
            </div>
        </div>
    </div>

    <div class="col mb-3">
        <p class="fw-bold">รูปบัตรประชาชน</p>
        <hr>

        <div class="row" style="font-size: 14px;">
            <div class="mb-2 row">
                <div class="col"> <img src="/assets/doc-jpg.svg" alt="" style="width: 25.6px;height: 32px;">
                    รูปบัตรประชาชน.JPG</div>
                <div class="col text-end">
                    <a href="#" style="color: #890203;">ดูเอกสาร</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-3">
        <p class="fw-bold">รายการเอกสาร 1</p>
        <hr>

        <div class="row" style="font-size: 14px;">
            <div class="mb-2 row">
                <div class="col"> <img src="/assets/doc-pdf.svg" alt="" style="width: 25.6px;height: 32px;">
                    เอกสาร 1.PDF</div>
                <div class="col text-end">
                    <a href="#" style="color: #890203;">ดูเอกสาร</a>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col"> <img src="/assets/doc-docx.svg" alt="" style="width: 25.6px;height: 32px;">
                    เอกสารสำคัญ.DOCX</div>
                <div class="col text-end">
                    <a href="#" style="color: #890203;">ดูเอกสาร</a>
                </div>
            </div>
        </div>
    </div>

</div>