<nav class="navbar sticky-top navbar-light">
    <div class="col-sm-12">
        <a class="navbar-brand" href="#"><img class="group" src="/assets/Group.svg" alt=""></a>
    </div>
</nav>

<body>
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#peopleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><img
                        class="people" src="/assets/Icon-People.svg"> การจัดการผู้ใช้</a>
                <ul class="collapse list-unstyled" id="peopleSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>
        </ul>
    </nav>

    <div id="content">

    <router-outlet></router-outlet>
</div>
</body>