body {
    display: flex;
    width: 100%;
    align-items: stretch;
    background-color: #F8F8F8;
}
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}



