body {
  display: flex;
  width: 100%;
  align-items: stretch;
  background-color: #f8f8f8;
}
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;

  margin-left: 250px;
  position: relative;
  z-index: 1;
}
