<div class="card">
    <div class="card-body">
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <p class="fw-bold">สแกนใบหน้า</p>
                </div>
                <div class="row">
                    <p class="text-center" style="font-size: 14px;">กล้องที่เชื่อมต่อ กล้องGoPro1</p>
                </div>
                <div class="row">
                    <div class="text-center">
                        <img src="/assets/scan-img.jpg" alt="" class="rounded">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <p class="fw-bold">รูปตัวอย่าง</p>
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <div class="text-center">
                        <img src="/assets/scan-img.jpg" alt="" class="rounded" style="margin-top: 2em;">
                    </div>
                </div>
            </div>
        </div><br>

        <div class="d-flex justify-content-around">
            <div class="row justify-content-center">
                <div class="col-6">
                    <button type="button" name="cancle" id="btn-cancle"
                        class="btn btn-outline-dark btn-lg">ยกเลิก</button>
                </div>
                <div class="col-6">
                    <button type="button" name="save" class="btn btn-dark btn-lg">บันทึก</button>
                </div>
            </div>
        </div>

    </div>
</div>