<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5 mx-auto">
                <form class="was-validated">
                    <div class="mb-3 position-relative">
                        <label for="typeUser" class="form-label fw-bold">ประเภทบุคคล*</label>
                        <select class="form-select" required aria-label="select type">
                            <option value="" hidden>เลือกประเภทบุคคล</option>
                            <option value="1">ผู้อยู่อาศัย</option>
                            <option value="2">ผู้เข้าพบ</option>
                            <option value="3">เจ้าหน้าที่/พนักงาน</option>
                        </select>
                        <div class="invalid-feedback">กรุณาเลือกประเภทบุคคล</div>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="idUser" class="form-label fw-bold">ID ผู้ใช้งาน*</label>
                        <input type="text" class="form-control is-invalid" id="idUser" aria-describedby="idUser"
                            placeholder="กรอก ID ผู้ใช้งาน" required>
                        <div class="invalid-feedback">
                            กรุณากรอก ID ผู้ใช้งาน
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="d-grid gap-2 d-md-flex">
                            <button type="button" class="btn btn-outline-dark">ยกเลิก</button>
                            <button type="submit" class="btn btn-dark">บันทึก</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>