.card {
  // height: calc(100vh - 190px);
  // overflow: auto;
  border-radius: 8px;
}

//check radio
.form-check-input:checked {
  background-color: #890203;
}

//font
.fw-bold {
  color: #890203;
}
