<div class="container-fluid">
    <div class="row mb-4">

        <!-- card จำนวนคนทั้งหมด -->
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="card-body align-items-center d-flex justify-content-center">
                    <div class="row g-5">
                        <div class="col-auto">
                            <img src="/assets/group-people.svg" alt="people" width="180" class="img-responsive">
                        </div>
                        <div class="col-auto align-self-center">
                            <div class="card-text fs-4 fw-bold">จำนวนคนทั้งหมด</div>
                            <div class="card-text fs-1 fw-bolder">2,500 <small class="fs-4">คน</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card จำนวนเจ้าของห้อง -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title fw-bold text-center mt-2">เจ้าของห้อง</h4>
                    <img src="/assets/Owner-Icon.svg" alt="owner icon" class="mx-auto d-block img-responsive mt-4"
                        width="120">
                    <div class="card-text text-center mt-4">
                        <p class="fs-1 fw-bolder">1,000 <small class="fs-4">คน</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- card จำนวนสมาชิก -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title fw-bold text-center mt-2">สมาชิก/ผู้อยู่อาศัยร่วม</h4>
                    <img src="/assets/Residence-Icon.svg" alt="owner icon" class="mx-auto d-block img-responsive mt-4"
                        width="120">
                    <div class="card-text text-center mt-4">
                        <p class="fs-1 fw-bolder">1,000 <small class="fs-4">คน</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- card ผู้เข้าพบ -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title fw-bold text-center mt-2">ผู้เข้าพบ</h4>
                    <img src="/assets/Visitor-Icon.svg" alt="owner icon" class="mx-auto d-block img-responsive mt-4"
                        width="120">
                    <div class="card-text text-center mt-4">
                        <p class="fs-1 fw-bolder">500 <small class="fs-4">คน</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <!-- chart จำนวนผู้ผ่านประตู -->
        <div class="col-sm-7">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col-auto">
                            <h4 class="card-title fw-bolder mt-2">จำนวนผู้ผ่านประตู</h4>
                        </div>
                        <div class="col-auto ms-auto">
                            <select class="form-select form-select-lg mb-3">
                                <option selected>ประเภทบุคคลทั้งหมด</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- chart จำนวนผู้ผ่านแต่ละประตูต่อวัน -->
        <div class="col-sm-5">
            <div class="card">
                จำนวนผู้ผ่านแต่ละประตูต่อวัน
            </div>
        </div>

    </div>

</div>