<div class="card">
    <div class="card-body">
        <div class="col-sm-5 mx-auto">

            <div class="mb-3">
                <label for="brandCar" class="form-label fw-bold">แบรนด์รถยนต์*</label>
                <select class="form-select form-select-lg" required>
                    <option value="" selected disabled hidden>เลือกแบรนด์รถยนต์</option>
                    <option class="text-dark" value="1">One</option>
                    <option class="text-dark" value="2">Two</option>
                    <option class="text-dark" value="3">Three</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="model" class="form-label fw-bold">รุ่นรถยนต์*</label>
                <input class="form-control form-control-lg" type="text" id="model" placeholder="กรอกรุ่นรถยนต์"
                    required>
            </div>

            <div class="mb-3">
                <label for="type" class="form-label fw-bold">ประเภทรถยนต์*</label>
                <select class="form-select form-select-lg" required>
                    <option value="" selected disabled hidden>ประเภทรถยนต์</option>
                    <option class="text-dark" value="1">One</option>
                    <option class="text-dark" value="2">Two</option>
                    <option class="text-dark" value="3">Three</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="color" class="form-label fw-bold">สีรถยนต์*</label>
                <input class="form-control form-control-lg" type="text" id="color" placeholder="กรอกสีรถยนต์" required>
            </div>

            <div class="mb-3">
                <label for="numCar" class="form-label fw-bold">เลขทะเบียนรถ*</label>
                <input class="form-control form-control-lg" type="text" id="numCar" placeholder="กรอกสีรถยนต์" required>
            </div>

            <div class="mb-5">
                <label for="county" class="form-label fw-bold">จังหวัดเลขทะเบียนรถ*</label>
                <select class="form-select form-select-lg" required>
                    <option value="" selected disabled hidden>เลือกจังหวัดเลขทะเบียนรถ</option>
                    <option class="text-dark" value="1">One</option>
                    <option class="text-dark" value="2">Two</option>
                    <option class="text-dark" value="3">Three</option>
                </select>
            </div>

            <div class="row g-3">
                <div class="col d-grid">
                    <button type="button" name="cancle" id="btn-cancle"
                        class="btn btn-outline-dark btn-lg">ยกเลิก</button>
                </div>
                <div class="col d-grid">
                    <button type="button" name="save" class="btn btn-dark btn-lg">บันทึก</button>
                </div>
            </div>

        </div>
    </div>
</div>