<div class="card">
    <div class="card-body">

        <form class="row">

            <!-- ชื่อประเภทสิทธิ์ -->
            <div class="mb-5 mt-3">
                <label for="nameType" class="form-label fw-bold fs-6">ชื่อประเภทสิทธิ์เจ้าของ*</label>
                <div class="col-9">
                    <input type="text" class="form-control form-control-lg fs-6" id="nameType" required>
                </div>
            </div>

            <!-- สิทธิ์การใช้งาน -->
            <div class="mb-5">
                <label for="license" class="form-label fw-bold fs-5 lh-1">สิทธิ์การใช้งาน</label>
                <hr class="border border-dark">
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="add-residents">
                            <label class="form-check-label fs-5" for="add-residents">
                                เพิ่มผู้อยู่อาศัย
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="add-visitors">
                            <label class="form-check-label fs-5" for="add-visitors">
                                เชิญผู้เข้าพบ
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="add-areas">
                            <label class="form-check-label fs-5" for="add-areas">
                                จองพื้นที่ส่วนกลาง
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="resident">
                            <label class="form-check-label fs-5" for="resident">
                                เป็นผู้อยู่อาศัย
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->

            <!-- สิทธิ์การมีรูปแบบรถ -->
            <div class="mb-5">
                <label for="carModel" class="form-label fw-bold fs-5 lh-1">สิทธิ์การมีรูปแบบรถ</label>
                <hr class="border border-dark">
                <div class="col">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="allCar">
                        <label class="form-check-label fs-5" for="allCar">
                            เลือกทั้งหมด
                        </label>
                    </div>
                    <hr class="border border-secondary">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="car1">
                        <label class="form-check-label fs-5" for="car1">
                            รูปแบบรถ 1
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="car2">
                        <label class="form-check-label fs-5" for="car2">
                            รูปแบบรถ 2
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="car3">
                        <label class="form-check-label fs-5" for="car3">
                            รูปแบบรถ 3
                        </label>
                    </div>
                </div>
            </div>
            <!-- end -->

            <!-- สิทธิ์จองพื้นที่ส่วนกลาง -->
            <div class="mb-5">
                <label for="area" class="form-label fw-bold fs-5 lh-1">สิทธิ์การจองพื้นที่ส่วนกลาง</label>
                <hr class="border border-dark">
                <div class="col">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="allArea">
                        <label class="form-check-label fs-5" for="allArea">
                            เลือกทั้งหมด
                        </label>
                    </div>
                    <hr class="border border-secondary">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="swimming-pool">
                        <label class="form-check-label fs-5" for="swimming-pool">
                            สระว่ายน้ำ
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="gym">
                        <label class="form-check-label fs-5" for="gym">
                            ห้องออกกำลังกาย
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="roof-garden">
                        <label class="form-check-label fs-5" for="roof-garden">
                            สวนบนดาดฟ้า
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="meeting-room">
                        <label class="form-check-label fs-5" for="meeting-room">
                            ห้องประชุม
                        </label>
                    </div>
                </div>
            </div>
            <!-- end -->

            <!-- สิทธิ์การเพิ่มผู้อยู่อาศัย -->
            <div class="mb-5">
                <label for="residents" class="form-label fw-bold fs-5 lh-1">สิทธิ์การเพิ่มผู้อยู่อาศัย</label>
                <hr class="border border-dark">
                <div class="col">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="allResidents">
                        <label class="form-check-label fs-5" for="allResidents">
                            เลือกทั้งหมด
                        </label>
                    </div>
                    <hr class="border border-secondary">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="residents">
                        <label class="form-check-label fs-5" for="residents">
                            ผู้อยู่อาศัย
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="visitor">
                        <label class="form-check-label fs-5" for="visitor">
                            ผู้เข้าพบ
                        </label>
                    </div>
                </div>
            </div>
            <!-- end -->

            <!-- เอกสารที่อัพโหลด -->
            <div class="mb-5">
                <label for="document" class="form-label fw-bold fs-5 lh-1">เอกสารที่อัพโหลด</label>
                <hr class="border border-dark">
                <div class="col">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="allDoc">
                        <label class="form-check-label fs-5" for="allDoc">
                            เลือกทั้งหมด
                        </label>
                    </div>
                    <hr class="border border-secondary">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="document1">
                        <label class="form-check-label fs-5" for="document1">
                            เอกสาร 1
                        </label>
                        <button type="button" class="btn-close float-end" aria-label="Close"></button>
                    </div>
                    <hr class="border border-secondary">
                    <div class="form-check">
                        <div class="col-7">
                            <input class="form-check-input" type="checkbox" value="" id="docCheck2">
                            <input type="text" class="form-control fs-5" id="docAdd" placeholder="เพิ่มรายการเอกสาร" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->

            <!-- ชั้นที่เข้าได้ -->
            <div class="mb-3">
                <label for="floor" class="form-label fw-bold fs-5 lh-1">ชั้นที่สามารถเข้าได้</label>
                <hr class="border border-dark">
                <div class="fs-5 fw-normal mb-2">ประตูที่สามารถผ่านได้</div>
                <div class="col">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="public-gate">
                        <label class="form-check-label fs-5" for="public-gate">
                            ประตูสาธารณะ
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="building-door">
                        <label class="form-check-label fs-5" for="building-door">
                            ประตูอาคาร
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="floor-door">
                        <label class="form-check-label fs-5" for="floor-door">
                            ประตูประจำชั้น
                        </label>
                    </div>
                </div>
                <hr class="border border-secondary">
                <div class="col">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="allDoc">
                        <label class="form-check-label fs-5" for="allDoc">
                            เลือกทั้งหมด
                        </label>
                    </div>
                </div>
                <hr class="border border-secondary">
                <div class="row">
                    <div class="col">
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="checkbox" id="floor1" value="floor1">
                            <label class="form-check-label fs-5" for="floor1">ชั้น 1</label>
                        </div>
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="checkbox" id="floor6" value="floor6">
                            <label class="form-check-label fs-5" for="floor6">ชั้น 6</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="checkbox" id="floor2" value="floor2">
                            <label class="form-check-label fs-5" for="floor2">ชั้น 2</label>
                        </div>
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="checkbox" id="floor7" value="floor7">
                            <label class="form-check-label fs-5" for="floor7">ชั้น 7</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="checkbox" id="floor3" value="floor3">
                            <label class="form-check-label fs-5" for="floor3">ชั้น 3</label>
                        </div>
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="checkbox" id="floor8" value="floor8">
                            <label class="form-check-label fs-5" for="floor8">ชั้น 8</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="checkbox" id="floor4" value="floor4">
                            <label class="form-check-label fs-5" for="floor4">ชั้น 4</label>
                        </div>
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="checkbox" id="floor9" value="floor9">
                            <label class="form-check-label fs-5" for="floor9">ชั้น 9</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="checkbox" id="floor5" value="floor5">
                            <label class="form-check-label fs-5" for="floor5">ชั้น 5</label>
                        </div>
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="checkbox" id="floor10" value="floor10">
                            <label class="form-check-label fs-5" for="floor10">ชั้น 10</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->

        </form>

    </div>
</div>