input,select{
    border-radius: 8px;
    font-size: 14px;
}
.fw-bold{
    font-size: 14px;
    color: #890203;
}
#btnSave,#btn-cancle{
    width: 129px;
    height: 48px;
    border-radius: 8px;
}
.card{
    height: 700px;
}
.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}