<div class="card">
    <div class="row">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="col nav-item nav-link active fw-bold text-center" id="door-tab" data-bs-toggle="tab" href="#door"
                    role="tab" aria-controls="door" aria-selected="true">สิทธิ์การเข้าออกประตู</a>
                <a class="col nav-item nav-link fw-bold text-center" id="elevator-tab" data-bs-toggle="tab" href="#elevator"
                    role="tab" aria-controls="elevator-tab" aria-selected="false">สิทธิ์การเข้าออกลิฟต์</a>
            </div>
        </nav>
    
        <div class="overflow-auto">
            <div class="card-body">
                <div class="row">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="door" role="tabpanel" aria-labelledby="door-tab">
                            <div class="mt-3"></div>

                            <!-- door -->
                            <div class="col mb-3">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <div class="col align-self-center">
                                            <label class="fw-bold">ชั้น</label>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <select class="form-select">
                                            <option selected>1</option>
                                            <option select>2</option>
                                            <option select>3</option>
                                            </select>
                                            </div>
                                            </div>
                            </div>
                            
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkDoorAll">
                                <label class="form-check-label fw-normal" for="checkDoorAll">
                                    เลือกทั้งหมด
                                </label>
                                </div>
                                <hr>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="door1">
                                <label class="form-check-label fw-normal" for="door1">
                                    ประตูทางเข้า 1
                                </label>
                                </div>
                            <div class="row justify-content-center">
                                <div class="col-md-5">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="text" class="form-control" id="open" placeholder="เปิด">
                                        <span class="input-group-text"><img src="/assets/Vector-time.svg" alt="" data-bs-toggle="modal"
                                                data-bs-target="#modelId"></span>
                                        </div>
                                        </div>
                                <div class="col-md-5">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="text" class="form-control" id="close" placeholder="ปิด">
                                        <span class="input-group-text"><img src="/assets/Vector-time.svg" alt="" data-bs-toggle="modal"
                                                data-bs-target="#modelId"></span>
                                        </div>
                                        </div>
                                        </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="door2">
                                <label class="form-check-label fw-normal" for="door2">
                                    ประตูทางเข้า 2
                                </label>
                                </div>
                            <div class="row justify-content-center">
                                <div class="col-md-5">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="text" class="form-control" id="open2" placeholder="เปิด">
                                        <span class="input-group-text"><img src="/assets/Vector-time.svg" alt="" data-bs-toggle="modal"
                                                data-bs-target="#modelId"></span>
                                        </div>
                                        </div>
                                <div class="col-md-5">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="text" class="form-control" id="close2" placeholder="ปิด">
                                        <span class="input-group-text"><img src="/assets/Vector-time.svg" alt="" data-bs-toggle="modal"
                                                data-bs-target="#modelId"></span>
                                        </div>
                                        </div>
                                        </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="door3">
                                <label class="form-check-label fw-normal" for="door3">
                                    ประตูทางเข้า 3
                                </label>
                                </div>
                            <div class="row justify-content-center">
                                <div class="col-md-5">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="text" class="form-control" id="open3" placeholder="เปิด">
                                        <span class="input-group-text"><img src="/assets/Vector-time.svg" alt="" data-bs-toggle="modal"
                                                data-bs-target="#modelId"></span>
                                        </div>
                                        </div>
                                <div class="col-md-5">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="text" class="form-control" id="close3" placeholder="ปิด">
                                        <span class="input-group-text"><img src="/assets/Vector-time.svg" alt="" data-bs-toggle="modal"
                                                data-bs-target="#modelId"></span>
                                        </div>
                                        </div>
                                        </div>
                        </div>
<!-- floor -->
                        <div class="tab-pane fade" id="elevator" role="tabpanel" aria-labelledby="elevator-tab">
                            <div class="mt-3"></div>

                            <div class="col mb-3">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <div class="col align-self-center">
                                            <label class="fw-bold">ชั้น</label>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <select class="form-select">
                                            <option selected>1</option>
                                            <option select>2</option>
                                            <option select>3</option>
                                            </select>
                                            </div>
                                            </div>
                            </div>
                            
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkElevatorAll">
                                <label class="form-check-label fw-normal" for="checkElevatorAll">
                                    เลือกทั้งหมด
                                </label>
                                </div>
                                <hr>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="elevator1">
                                <label class="form-check-label fw-normal" for="elevator1">
                                    ประตูทางเข้า 1
                                </label>
                                </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-5">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="text" class="form-control" id="elevatorOpen" placeholder="เปิด">
                                        <span class="input-group-text"><img src="/assets/Vector-time.svg" alt="" data-bs-toggle="modal"
                                                data-bs-target="#modelId"></span>
                                        </div>
                                        </div>
                                <div class="col-sm-5">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="text" class="form-control" id="elevatorClose" placeholder="ปิด">
                                        <span class="input-group-text"><img src="/assets/Vector-time.svg" alt="" data-bs-toggle="modal"
                                                data-bs-target="#modelId"></span>
                                        </div>
                                        </div>
                                        </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="elevator2">
                                <label class="form-check-label fw-normal" for="elevator2">
                                    ประตูทางเข้า 2
                                </label>
                                </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-5">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="text" class="form-control" id="elevatorOpen2" placeholder="เปิด">
                                        <span class="input-group-text"><img src="/assets/Vector-time.svg" alt="" data-bs-toggle="modal"
                                                data-bs-target="#modelId"></span>
                                        </div>
                                        </div>
                                <div class="col-sm-5">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="text" class="form-control" id="elevatorClose2" placeholder="ปิด">
                                        <span class="input-group-text"><img src="/assets/Vector-time.svg" alt="" data-bs-toggle="modal"
                                                data-bs-target="#modelId"></span>
                                        </div>
                                        </div>
                                        </div>
                                        
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="elevator3">
                                            <label class="form-check-label fw-normal" for="elevator3">
                                                ประตูทางเข้า 3
                                            </label>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-5">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="text" class="form-control" id="elevatorOpen3" placeholder="เปิด">
                                                    <span class="input-group-text"><img src="/assets/Vector-time.svg" alt="" data-bs-toggle="modal"
                                                            data-bs-target="#modelId"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="text" class="form-control" id="elevatorClose3" placeholder="ปิด">
                                                    <span class="input-group-text"><img src="/assets/Vector-time.svg" alt="" data-bs-toggle="modal"
                                                            data-bs-target="#modelId"></span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                                            <div class="modal-dialog modal-sm" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <div class="col">
                                                            <p class="fw-bold align-bottom">เลือกเวลา</p>
                                                        </div>
                                                        <div class="d-flex justify-content-end">
                                                            <div class="col">
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-body">
                                        
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <label class="fst-normal" for="hour">ชั่วโมง</label>
                                                                <select class="form-select" id="hour">
                                                                    <option selected>00</option>
                                                                    <option select>01</option>
                                                                    <option select>02</option>
                                                                    <option select>03</option>
                                                                    <option select>04</option>
                                                                    <option select>05</option>
                                                                    <option select>06</option>
                                                                    <option select>07</option>
                                                                    <option select>08</option>
                                                                    <option select>09</option>
                                                                    <option select>10</option>
                                                                    <option select>11</option>
                                                                    <option select>12</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div class="mt-4"></div>
                                                                <p class="fst-normal">:</p>
                                                            </div>
                    <div class="col-md-5">
                        <label class="fst-normal" for="minute">นาที</label>
                        <select class="form-select timepicker" id="">
                            <option selected>00</option>
                            <option select>01</option>
                            <option select>02</option>
                            <option select>03</option>
                            <option select>04</option>
                            <option select>05</option>
                            <option select>06</option>
                            <option select>07</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>