<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="mt-2"></div>
            <div class="col-5">
                <input type="search" class="form-control" name="" id="searchInput" aria-describedby="searchAdmin"
                    placeholder="ค้นหา">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th>เลข ID</th>
                            <th>เลขบัตรประชาชน</th>
                            <th>ชื่อ</th>
                            <th>นามสกุล</th>
                            <th>เบอร์โทร</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle">123456</td>
                            <td class="align-middle">1234567891234</td>
                            <td class="align-middle">ชาญชัย</td>
                            <td class="align-middle">สุขดี</td>
                            <td class="align-middle">0856244432</td>
                            <td>
                                <div class="row g-3">
                                    <div class="col-2">
                                        <a href="members/approve-people-show">
                                            <button type="button" class="btn btn-outline-secondary">
                                                <img src="/assets/Vector-show.svg" alt="show">
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-5 d-grid">
                                        <button type="button" class="btn btn-dark btn-lg" data-bs-toggle="modal"
                                            data-bs-target="#accessModal">อนุมัติ</button>
                                    </div>
                                    <div class="col-5 d-grid">
                                        <a class="btn btn-outline-dark btn-lg" href="members/approve-people-request"
                                            role="button">
                                            <div class="p-1">ขอข้อมูลเพิ่ม</div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">123456</td>
                            <td class="align-middle">1234567891234</td>
                            <td class="align-middle">ชาญชัย</td>
                            <td class="align-middle">สุขดี</td>
                            <td class="align-middle">0856244432</td>
                            <td>
                                <div class="row g-3">
                                    <div class="col-2">
                                        <a href="members/approve-people-show">
                                            <button type="button" class="btn btn-outline-secondary">
                                                <img src="/assets/Vector-show.svg" alt="show">
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-5 d-grid">
                                        <button type="button" class="btn btn-secondary">อนุมัติแล้ว</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">123456</td>
                            <td class="align-middle">1234567891234</td>
                            <td class="align-middle">ชาญชัย</td>
                            <td class="align-middle">สุขดี</td>
                            <td class="align-middle">0856244432</td>
                            <td>
                                <div class="row g-3">
                                    <div class="col-2">
                                        <a href="members/approve-people-show">
                                            <button type="button" class="btn btn-outline-secondary">
                                                <img src="/assets/Vector-show.svg" alt="show">
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-5 d-grid">
                                        <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                            data-bs-target="#accessModal">อนุมัติ</button>
                                    </div>
                                    <div class="col-5 d-grid">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#cancleAccessModal">ยกเลิกคำขอ</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div><br>

<div class="PageNav">
    <nav class="pagination-outer" aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous" style="background-color:#B5B5B5 ;">
                    <span aria-hidden="true"><img src="/assets/back.svg" alt=""></span>
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Next" style="background-color: #231F20;">
                    <span aria-hidden="true"><img src="/assets/next.svg" alt=""></span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!-- อนุมัติเพิ่มคน Modal -->
<div class="modal fade" id="accessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="mt-3"></div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="mb-4">
                        <img src="/assets/warning.svg" alt="">
                    </div>
                    <p class="fw-bold">คุณยืนยันที่จะอนุมัติเพิ่มคนหรือไม่</p>
                </div>

                <div class="row col-8 mx-auto g-3">
                    <div class="col d-grid">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">ยกเลิก</button>
                    </div>
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-dark">อนุมัติ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ยกเลิกคำขออนุมัติ Modal -->
<div class="modal fade" id="cancleAccessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="mt-3"></div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="mb-4">
                        <img src="/assets/warning.svg" alt="">
                    </div>
                    <p class="fw-bold">คุณยืนยันที่จะยกเลิกคำขออนุมัตินี้หรือไม่</p>
                </div>

                <div class="row col-8 mx-auto g-3">
                    <div class="col d-grid">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">ยกเลิก</button>
                    </div>
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-dark">ยกเลิกคำขอ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>