table{
    width: 100%;
    font-size: 18px;
}
table th{
    color:#890203;
}

.btn{
    width: 51px;
    height: 51px;
    border-radius: 8px;
    font-size: 14px;
}
#btnOn{
    background-color:#16C11D;
    color: white;
}
#btnOfff{
    background-color: #ED1C24;
    color: white;
}
#btnOff ,#btnOnn{
    background-color: #B5B5B5;
    color: white;
}
.centerImg{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

//modal
#btnCancle,#btnSave{
    width: 118px;
height : 48px;
border-radius: 8px;
}

// pagination
.pagination-outer{ text-align: center; }
.pagination{
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link{
    color: #231F20;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 39px;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0 5px;
    border: none;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
        border: 1px solid #939393;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #fff;
    background: #231F20;
}
