<div class="row userInfo">
    <div class="col-sm-6 mx-auto">
        <b>ยานพาหนะ</b>
        <hr>
        <div class="row infoCar">
            <div class="mb-3 row">
                <b>(brand)</b>
            </div>

            <div class="mb-3 row">
                <label for="modelCar" class="col-sm-3 col-form-label">รุ่นรถยนต์ :</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="modelCar" value="***">
                </div>

                <label for="colorCar" class="col-sm-3 col-form-label">สีรถยนต์ :</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="colorCar" value="***">
                </div>

                <label for="regisNumber" class="col-sm-3 col-form-label">เลขทะเบียน :</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="regisNumber" value="***">
                </div>
            </div>
        </div><br>

        <b>รูปบัตรประชาชน</b>
        <hr>
        <div class="row infoId">
            <div class="mb-3 row">
                <div class="col">(.jpg)</div>
                <div class="col" style="text-align: end;">
                    <a href="">ดูรูปบัตร</a>
                </div>
            </div>
        </div><br>

        <b>ห้องที่เป็นเจ้าของ</b>
        <hr>
        <div class="row infoId">
            <div class="mb-3 row">
                <div class="col"><img src="https://mdbootstrap.com/img/new/standard/city/047.jpg"
                        class="img-fluid rounded" alt="..."></div>

                <div class="col"><b>เลขที่ห้อง : **/***</b><br>
                    <div class="mb-3 row">
                        <label for="room" class="col-sm-5 col-form-label">รูปแบบห้อง :</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control-plaintext" id="room" value="***">
                        </div>
                        <label for="floor" class="col-sm-3 col-form-label">ชั้น :</label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control-plaintext" id="floor" value="***">
                        </div>
                        <label for="numResident" class="col-sm-6 col-form-label">จำนวนผู้อยู่อาศัย :</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="numResident" value="***">
                        </div>
                    </div>
                </div>

            </div>
        </div><br>

        <b>รายการเอกสาร 1 </b>
        <hr>
        <div class="row infoId">
            <div class="mb-3 row">
                <div class="col">เอกสาร</div>
                <div class="col" style="text-align: end;">
                    <a href="">ดูเอกสาร</a>
                </div>
            </div>
        </div><br>

        <b>สแกรใบหน้า</b>
        <hr>
        <div class="row infoId">
            <div class="mb-3 row">
                <div class="col">.jpg</div>
                <div class="col" style="text-align: end;">
                    <a href="">ดูรูปสแกน</a>
                </div>
            </div>
        </div>

    </div>
</div>