.userInfo{
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}
b{
    color: #890203;
    font-size: 18px;
    line-height: 24px;
}
.infoCar ,.infoId{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
}
a{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #890203;
}
img{
    width: 155px;
    height: 104px;
    left: 614px;
    top: 1279px;

    border-radius: 8px;
}
