.card {
  border-radius: 8px;
}

//font
.fw-bold {
  color: #890203;
}
p {
  font-size: 14px;
}

//card
#cardRoom {
  background-color: #ededed;
  border: none;
  box-shadow: none;
  border-radius: 8px;
}

//button
.btn {
  border-radius: 8px;
  font-size: 14px;
  height: 48px;
}
