<div class="card">
    <div class="card-body">

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card" id="cardRoom">
                    <div class="card-body">
                        <img src="https://as2.ftcdn.net/v2/jpg/02/01/64/27/500_F_201642793_0Y9ohUOdiHTqcbep8k2usaZ3qTi2cFeT.jpg"
                            class="card-img-top rounded" alt="Card image" height="145">
                        <div class="mt-3"></div>
                        <h5 class="card-title fw-bold">รูปแบบห้อง 1</h5>
                        <div class="card-text">
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">ขนาดห้อง:</p>
                                <p class="d-inline p-1 fw-normal">40 ตร. ม.</p>
                            </div>
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">ห้องนอน:</p>
                                <p class="d-inline p-1 fw-normal">2 ห้องนอน</p>
                            </div>
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">ห้องน้ำ:</p>
                                <p class="d-inline p-1 fw-normal">1 ห้องน้ำ</p>
                            </div>
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">จำนวนผู้อยู่อาศัยสูงสุด:</p>
                                <p class="d-inline p-1 fw-normal">3 คน</p>
                            </div>
                        </div>
                        <div class="card-foot mt-3">
                            <div class="hstack gap-2 d-flex justify-content-end">
                                <a href="rooms/edit-Type-room">
                                    <button class="btn btn-outline-secondary bg-light">
                                        <div class="d-flex justify-content-center">
                                            <img src="/assets/Vector_edit.svg" class="img-icon" alt="img icon">
                                        </div>
                                    </button>
                                </a>
                                <button class="btn btn-outline-secondary bg-light" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">
                                    <div class="d-flex justify-content-center">
                                        <img src="/assets/Vector_delete.svg" class="img-icon" alt="img icon">
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" id="cardRoom">
                    <div class="card-body">
                        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/edc-web-tour-natasha-bardaran-9-1607305891.jpg?crop=1.00xw:0.710xh;0,0.240xh&resize=980:*"
                            class="card-img-top rounded" alt="Card image" height="145">
                        <div class="mt-3"></div>
                        <h5 class="card-title fw-bold">รูปแบบห้อง 2</h5>
                        <div class="card-text">
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">ขนาดห้อง:</p>
                                <p class="d-inline p-1 fw-normal">40 ตร. ม.</p>
                            </div>
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">ห้องนอน:</p>
                                <p class="d-inline p-1 fw-normal">2 ห้องนอน</p>
                            </div>
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">ห้องน้ำ:</p>
                                <p class="d-inline p-1 fw-normal">1 ห้องน้ำ</p>
                            </div>
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">จำนวนผู้อยู่อาศัยสูงสุด:</p>
                                <p class="d-inline p-1 fw-normal">3 คน</p>
                            </div>
                        </div>
                        <div class="card-foot mt-3">
                            <div class="hstack gap-2 d-flex justify-content-end">
                                <a href="rooms/edit-Type-room">
                                    <button class="btn btn-outline-secondary bg-light">
                                        <div class="d-flex justify-content-center">
                                            <img src="/assets/Vector_edit.svg" class="img-icon" alt="img icon">
                                        </div>
                                    </button>
                                </a>
                                <button class="btn btn-outline-secondary bg-light" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">
                                    <div class="d-flex justify-content-center">
                                        <img src="/assets/Vector_delete.svg" class="img-icon" alt="img icon">
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" id="cardRoom">
                    <div class="card-body">
                        <img src="https://as2.ftcdn.net/v2/jpg/02/25/51/75/500_F_225517524_r4eBVxYhAmVU5njHQEjnOd7o3COhDIfu.jpg"
                            class="card-img-top rounded" alt="Card image" height="145">
                        <div class="mt-3"></div>
                        <h5 class="card-title fw-bold">รูปแบบห้อง 3</h5>
                        <div class="card-text">
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">ขนาดห้อง:</p>
                                <p class="d-inline p-1 fw-normal">40 ตร. ม.</p>
                            </div>
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">ห้องนอน:</p>
                                <p class="d-inline p-1 fw-normal">2 ห้องนอน</p>
                            </div>
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">ห้องน้ำ:</p>
                                <p class="d-inline p-1 fw-normal">1 ห้องน้ำ</p>
                            </div>
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">จำนวนผู้อยู่อาศัยสูงสุด:</p>
                                <p class="d-inline p-1 fw-normal">3 คน</p>
                            </div>
                        </div>
                        <div class="card-foot mt-3">
                            <div class="hstack gap-2 d-flex justify-content-end">
                                <a href="rooms/edit-Type-room">
                                    <button class="btn btn-outline-secondary bg-light">
                                        <div class="d-flex justify-content-center">
                                            <img src="/assets/Vector_edit.svg" class="img-icon" alt="img icon">
                                        </div>
                                    </button>
                                </a>
                                <button class="btn btn-outline-secondary bg-light" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">
                                    <div class="d-flex justify-content-center">
                                        <img src="/assets/Vector_delete.svg" class="img-icon" alt="img icon">
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" id="cardRoom">
                    <div class="card-body">
                        <img src="https://image.freepik.com/free-photo/room-interior-design_23-2148899461.jpg"
                            class="card-img-top rounded" alt="Card image" height="145">
                        <div class="mt-3"></div>
                        <h5 class="card-title fw-bold">รูปแบบห้อง 4</h5>
                        <div class="card-text">
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">ขนาดห้อง:</p>
                                <p class="d-inline p-1 fw-normal">40 ตร. ม.</p>
                            </div>
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">ห้องนอน:</p>
                                <p class="d-inline p-1 fw-normal">2 ห้องนอน</p>
                            </div>
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">ห้องน้ำ:</p>
                                <p class="d-inline p-1 fw-normal">1 ห้องน้ำ</p>
                            </div>
                            <div class="lh-base">
                                <p class="d-inline p-1 fw-bolder">จำนวนผู้อยู่อาศัยสูงสุด:</p>
                                <p class="d-inline p-1 fw-normal">3 คน</p>
                            </div>
                        </div>
                        <div class="card-foot mt-3">
                            <div class="hstack gap-2 d-flex justify-content-end">
                                <a href="rooms/edit-Type-room">
                                    <button class="btn btn-outline-secondary bg-light">
                                        <div class="d-flex justify-content-center">
                                            <img src="/assets/Vector_edit.svg" class="img-icon" alt="img icon">
                                        </div>
                                    </button>
                                </a>
                                <button class="btn btn-outline-secondary bg-light" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">
                                    <div class="d-flex justify-content-center">
                                        <img src="/assets/Vector_delete.svg" class="img-icon" alt="img icon">
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- deleteModal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="mt-3"></div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="/assets/delModal.svg" alt="delete">
                    <div class="mt-4"></div>
                    <p class="fw-bolder">คุณต้องการลบข้อมูลรูปแบบห้องนี้หรือไม่</p>
                </div>

                <div class="row col-8 g-3 mx-auto">
                    <div class="col d-grid">
                        <button type="button" class="btn btn-lg btn-outline-dark" data-bs-dismiss="modal">
                            ยกเลิก
                        </button>
                    </div>
                    <div class="col d-grid">
                        <button type="button" class="btn btn-dark btn-lg">ลบรูปแบบห้อง
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>