<div class="row mt-3 mb-5">
    <div class="col-5">
        <input type="search" class="form-control" name="" id="searchInput" aria-describedby="searchAdmin"
            placeholder="ค้นหา">
    </div>
    <div class="col-sm-2">
        <div class="row g-3">
            <div class="col-auto align-self-center">
                <label class="form-lable fw-bold" for="building">อาคาร</label>
            </div>
            <div class="col-8">
                <select class="form-select form-select-lg" id="building">
                    <option value="building1">ตึก A</option>
                    <option value="building2">ตึก B</option>
                    <option value="building3">ตึก C</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="row g-3">
            <div class="col-auto align-self-center">
                <label class="form-lable fw-bold" for="floor-selector">เลือกชั้น</label>
            </div>
            <div class="col-8">
                <select class="form-select form-select-lg" id="floorSelect">
                    <option value="floor1">1</option>
                    <option value="floor2">2</option>
                    <option value="floor3">3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row g-3">
            <div class="col-auto align-self-center">
                <label class="form-lable fw-bold" for="room-type-selector">รูปแบบห้อง</label>
            </div>

            <div class="col-8">
                <select class="form-select form-select-lg" id="roomTypeSelect">
                    <option>รูปแบบห้อง 1</option>
                    <option>รูปแบบห้อง 2</option>
                    <option>รูปแบบห้อง 3</option>
                </select>
            </div>
        </div>
    </div>
</div>