<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="mt-2">
                <div class="col-5 mb-3">
                    <input type="search" class="form-control" name="" id="searchInput" aria-describedby="searchUser"
                        placeholder="ค้นหา">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>โปรไฟล์</th>
                                <th>ID ผู้ใช้</th>
                                <th>ชื่อ</th>
                                <th>นามสกุล</th>
                                <th>เบอร์โทร</th>
                                <th>บล็อก</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img class="rounded" alt="blog" src="/assets/scan-img.jpg" width="48" height="48">
                                </td>
                                <td class="align-middle">123456</td>
                                <td class="align-middle">ชาญชัย</td>
                                <td class="align-middle">สุขดี</td>
                                <td class="align-middle">0987654321</td>
                                <td style="width: 10%;">
                                    <div class="row g-1">
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-outline-secondary"
                                                data-bs-toggle="modal" data-bs-target="#blockModal">
                                                <div class="row justify-content-center">
                                                    <img src="/assets/Vector-block.svg" alt="block">
                                                </div>
                                            </button>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="members/show-members">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    <img src="/assets/Vector-show.svg" alt="show">
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="members/edit-members">
                                                <button type="button" class="btn btn-outline-secondary"><img
                                                        src="/assets/Vector_edit.svg" alt="edit">
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-outline-secondary"
                                                data-bs-toggle="modal" data-bs-target="#delModal"><img
                                                    src="/assets/Vector_delete.svg" alt="delete">
                                            </button>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <img class="rounded" alt=""
                                        src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                                        style="width: 48px;height: 48px;">
                                </td>
                                <td class="align-middle">123456</td>
                                <td class="align-middle">ชาญชัย</td>
                                <td class="align-middle">สุขดี</td>
                                <td class="align-middle">0987654321</td>
                                <td style="width: 25%;">
                                    <div class="row g-1">
                                        <div class="col-2">
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#unblockModal">
                                                <div class="row justify-content-center">
                                                    <img src="/assets/block.svg" alt="block">
                                                </div>
                                            </button>
                                        </div>
                                        <div class="col-3">
                                            <a href="members/show-members"><button type="button"
                                                    class="btn btn-outline-secondary"><img src="/assets/Vector-show.svg"
                                                        alt="show">
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="members/edit-members">
                                                <button type="button" class="btn btn-outline-secondary"><img
                                                        src="/assets/Vector_edit.svg" alt="edit">
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <button type="button" class="btn btn-outline-secondary"
                                                data-bs-toggle="modal" data-bs-target="#delModal"><img
                                                    src="/assets/Vector_delete.svg" alt="delete"></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="blockModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="mt-3"></div>
                        <div class="modal-body">
                            <div class="text-center">
                                <div class="mb-4">
                                    <img src="/assets/Icon-block.svg" alt="" class="centerImg">
                                </div>
                                <p class="fw-bold">คุณต้องการบล็อกผู้ใช้งานรายนี้หรือไม่</p>
                            </div>
                            <div class="row g-3 justify-content-center">
                                <div class="col-3 d-grid">
                                    <button type="button" class="btn btn-outline-dark"
                                        data-bs-dismiss="modal">ยกเลิก</button>
                                </div>
                                <div class="col-3 d-grid">
                                    <button type="button" class="btn btn-dark">บล็อกผู้ใช้งาน</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- unModal -->
            <div class="modal fade" id="unblockModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="mt-3"></div>
                        <div class="modal-body">
                            <div class="text-center">
                                <div class="mb-4">
                                    <img src="/assets/Icon-block.svg" alt="un-block">
                                </div>
                                <p class="fw-bold">คุณต้องการปลดบล็อกผู้ใช้งานรายนี้หรือไม่</p>
                            </div>
                            <div class="row g-3 justify-content-center">
                                <div class="col-3 d-grid">
                                    <button type="button" id="btnCancle" class="btn btn-outline-dark"
                                        data-bs-dismiss="modal">ยกเลิก</button>
                                </div>
                                <div class="col-3 d-grid">
                                    <button type="button" id="btnSave" class="btn btn-dark">ปลดบล็อก</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- delModal -->
            <div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="mt-3"></div>
                        <div class="modal-body">
                            <div class="text-center">
                                <div class="mb-4">
                                    <img src="/assets/delModal.svg" alt="delete">
                                </div>
                                <p class="fw-bold">คุณต้องการลบข้อมูลของคนนี้หรือไม่</p>
                            </div>
                            <div class="row g-3 justify-content-center">
                                <div class="col-3 d-grid">
                                    <button type="button" class="btn btn-outline-dark"
                                        data-bs-dismiss="modal">ยกเลิก</button>
                                </div>
                                <div class="col-3 d-grid">
                                    <button type="button" class="btn btn-dark">ลบผู้อยู่อาศัย</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="PageNav">
    <nav class="pagination-outer" aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous" style="background-color:#B5B5B5 ;">
                    <span aria-hidden="true"><img src="/assets/back.svg" alt=""></span>
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Next" style="background-color: #231F20;">
                    <span aria-hidden="true"><img src="/assets/next.svg" alt=""></span>
                </a>
            </li>
        </ul>
    </nav>
</div>