<body>
    <form>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="type_person">
                        <button type="button" class="btn btn-outline-dark float-start"><img
                                src="/assets/Vector_back.svg" alt="back">
                        </button></a>
                </div>
            </div><br>

            <div class="row justify-content-between">
                <div class="col-md-6">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="name_tperson">ชื่อประเภทบุคคล*</label>
                                    <input type="text" class="form-control" id="name_tperson"
                                        placeholder="กรอกชื่อประเภทบุคคล" required>
                                </div><br>

                                <div class="form-group">
                                    <p>สิทธิ์การมีรูปแบบรถ</p>
                                    <hr>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                        <label class="form-check-label" for="checkAll">
                                            เลือกทั้งหมด
                                        </label>
                                    </div>
                                    <hr>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="car1">
                                        <label class="form-check-label" for="car1">
                                            รูปแบบรถที่ 1
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="car2">
                                        <label class="form-check-label" for="car2">
                                            รูปแบบรถที่ 2
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="car3">
                                        <label class="form-check-label" for="car3">
                                            รูปแบบรถที่ 3
                                        </label>
                                    </div>
                                </div><br>

                                <div class="form-group">
                                    <p>สิทธิ์การจองพื้นที่ส่วนกลาง</p>
                                    <hr>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkAreaAll">
                                        <label class="form-check-label" for="checkAreaAll">
                                            เลือกทั้งหมด
                                        </label>
                                    </div>
                                    <hr>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="swimming pool">
                                        <label class="form-check-label" for="swimming pool">
                                            สระว่ายน้ำ
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="gym">
                                        <label class="form-check-label" for="gym">
                                            ห้องออกกำลังกาย
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="garden">
                                        <label class="form-check-label" for="garden">
                                            สวนบนดาดฟ้า
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="meeting room">
                                        <label class="form-check-label" for="meeting room">
                                            ห้องประชุม
                                        </label>
                                    </div>
                                </div><br>

                                <div class="form-group">
                                    <p>สิทธิ์การจองเพิ่มผู้อยู่อาศัย</p>
                                    <hr>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkResAll">
                                        <label class="form-check-label" for="checkResAll">
                                            เลือกทั้งหมด
                                        </label>
                                    </div>
                                    <hr>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="residents">
                                        <label class="form-check-label" for="residents">
                                            ผู้อยู่อาศัย
                                        </label>
                                    </div>
                                </div><br>

                                <div class="form-group">
                                    <p>เอกสารที่อัพโหลด</p>
                                    <hr>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkDocAll">
                                        <label class="form-check-label" for="checkDocAll">
                                            เลือกทั้งหมด
                                        </label>
                                    </div>
                                    <hr>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="doc1">
                                        <label class="form-check-label" for="doc1">
                                            เอกสาร1
                                        </label>
                                    </div>
                                </div><br>

                                <div class="form-group">
                                    <p>ชั้นที่สามารถเข้าได้</p>
                                    <hr>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkFloorAll">
                                        <label class="form-check-label" for="checkFloorAll">
                                            เลือกทั้งหมด
                                        </label>
                                    </div>
                                    <hr>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="floor1" value="option1">
                                        <label class="form-check-label" for="floor1">ชั้น 1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="floor2" value="option2">
                                        <label class="form-check-label" for="floor2">ชั้น 2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="floor3" value="option3">
                                        <label class="form-check-label" for="floor3">ชั้น 3</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="door-tab" data-toggle="tab" href="#door"
                                            role="tab" aria-controls="door"
                                            aria-selected="true">สิทธิ์การเข้าออกประตู</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="elevator-tab" data-toggle="tab" href="#elevator"
                                            role="tab" aria-controls="elevator"
                                            aria-selected="true">สิทธิ์การเข้าออกลิฟต์</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="door" role="tabpanel"
                                        aria-labelledby="door-tab"><br>

                                        <div class="form-group">
                                            <div class="form-group row">
                                                <label class="col-sm-2 control-label">ชั้น</label>
                                                <div class="col-sm-3">
                                                    <select class="form-select" placeholder="เลือกชั้น" required>
                                                        <option selected>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="checkDoorAll">
                                            <label class="form-check-label" for="checkDoorAll">
                                                เลือกทั้งหมด
                                            </label>
                                        </div>
                                        <hr>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="door1">
                                            <label class="form-check-label" for="door1">
                                                ประตูทางเข้า 1
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="text" class="form-control" id="open"
                                                        placeholder="เปิด">
                                                    <img src="/assets/Vector-time.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="text" class="form-control" id="close"
                                                        placeholder="ปิด">
                                                    <img src="/assets/Vector-time.svg" alt="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="door2">
                                            <label class="form-check-label" for="door2">
                                                ประตูทางเข้า 2
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="text" class="form-control" id="open2"
                                                        placeholder="เปิด">
                                                    <img src="/assets/Vector-time.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="text" class="form-control" id="close2"
                                                        placeholder="ปิด">
                                                    <img src="/assets/Vector-time.svg" alt="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="door3">
                                            <label class="form-check-label" for="door3">
                                                ประตูทางเข้า 3
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="text" class="form-control" id="open3"
                                                        placeholder="เปิด">
                                                    <img src="/assets/Vector-time.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="text" class="form-control" id="close3"
                                                        placeholder="ปิด">
                                                    <img src="/assets/Vector-time.svg" alt="">
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="tab-pane fade" id="elevator" role="tabpanel"
                                        aria-labelledby="elevator-tab">
                                        <br>

                                        <div class="form-group">
                                            <div class="form-group row">
                                                <label class="col-sm-2 control-label">ชั้น</label>
                                                <div class="col-sm-3">
                                                    <select class="form-select" placeholder="เลือกชั้น" required>
                                                        <option selected>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="checkElevatorAll">
                                            <label class="form-check-label" for="checkElevatorAll">
                                                เลือกทั้งหมด
                                            </label>
                                        </div>
                                        <hr>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="elevator1">
                                            <label class="form-check-label" for="elevator1">
                                                ประตูทางเข้า 1
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="text" class="form-control" id="elevatorOpen"
                                                        placeholder="เปิด">
                                                    <img src="/assets/Vector-time.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="text" class="form-control" id="elevatorClose"
                                                        placeholder="ปิด">
                                                    <img src="/assets/Vector-time.svg" alt="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="elevator2">
                                            <label class="form-check-label" for="elevator2">
                                                ประตูทางเข้า 2
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="text" class="form-control" id="elevatorOpen2"
                                                        placeholder="เปิด">
                                                    <img src="/assets/Vector-time.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <input type="text" class="form-control" id="elevatorClose2"
                                                        placeholder="ปิด">
                                                    <img src="/assets/Vector-time.svg" alt="">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
<nav class="navbar sticky-bottom navbar-light bg-light">
    <div class="col-sm-12" style="text-align: center;">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <button type="button" name="cancle" class="btn btn-outline-dark btn-lg">ยกเลิก</button>
                &nbsp;

                <button type="button" name="save" class="btn btn-secondary btn-lg">บันทึก</button>
            </div>
        </div>
    </div>
</nav>