.card {
  border-radius: 8px;
}

//form
.form-control {
  border-radius: 8px;
}

.fw-bold,
.fw-normal {
  color: #890203;
}
.form-check-input:checked {
  background-color: #890203;
}

#docAdd {
  border: none;
  border-bottom: 1px solid #d1d0d0;
  border-radius: 1px;
}
