<div class="card-body">

    <!-- owner -->
    <div class="row mb-4">
        <div class="col-8 ">
            <label for="namePartner" class="form-label fw-bold">รายชื่อเจ้าของห้องคนก่อน</label>
            <select class="form-select form-select-lg form-rounded fw-normal" name="namePartner" id="namePartner"
                required>
                <option value="" selected disabled hidden>เลือกรายชื่อเจ้าของห้องคนก่อน</option>
                <option class="text-dark" value="name1">กิตติ ดวงดี (รายชื่อผู้เข้าถึงห้อง 7 คน)</option>
                <option class="text-dark" value="name2">เทพไทย รักชาติ (รายชื่อผู้เข้าถึงห้อง 9 คน)</option>
            </select>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <h4 class="fw-bold">เจ้าของห้อง (ก่อนหน้า)</h4>
        </div>
        <div class="mt-3"></div>
        <div class="col-12">
            <div class="card" id="owner">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-borderless w-100">
                            <thead>
                                <tr class="align-bottom fw-bold">
                                    <th class="col">ID ผู้ใช้</th>
                                    <th class="col">ชื่อ</th>
                                    <th class="col">นามสกุล</th>
                                    <th class="col">วันที่เข้า</th>
                                    <th class="col">วันที่ออก</th>
                                    <th class="col-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="align-middle">
                                    <td>123456</td>
                                    <td>ชาญชัย</td>
                                    <td>สุขดี</td>
                                    <td>12 ก.พ. 64</td>
                                    <td>28 ก.พ. 64</td>
                                    <td>
                                        <!-- <div class="hstack gap-3"> -->
                                        <div class="justify-content-end">
                                            <a href="members/show-members">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    <div class="d-flex justify-content-center">
                                                        <img src="/assets/Vector-show.svg" alt="show" width="20">
                                                    </div>
                                                </button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- partner -->
    <div class="row mb-4">
        <div class="col">
            <h4 class="fw-bold">รายชื่อผู้อยู่อาศัย (ก่อนหน้า)</h4>
        </div>
        <div class="mt-3"></div>

        <div class="col-12">
            <div class="card" id="partner">
                <div class="card-body">
                    <table class="table w-100">
                        <thead>
                            <tr class="align-bottom">
                                <th class="col fw-bold">ID ผู้ใช้</th>
                                <th class="col fw-bold">ชื่อ</th>
                                <th class="col fw-bold"> นามสกุล</th>
                                <th class="col fw-bold">วันที่เข้า</th>
                                <th class="col fw-bold">วันที่ออก</th>
                                <th class="col-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle">
                                <td>123456</td>
                                <td>สมชาย</td>
                                <td>ดวงดี</td>
                                <td>13 ก.พ. 64</td>
                                <td>28 ก.พ. 64</td>
                                <td>
                                    <div class="justify-content-end">
                                        <!-- <div class="hstack gap-3"> -->
                                        <a href="members/show-members">
                                            <button type="button" class="btn btn-outline-secondary">
                                                <div class="d-flex justify-content-center">
                                                    <img src="/assets/Vector-show.svg" alt="show" width="20">
                                                </div>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- visitor -->
    <div class="row mb-4">
        <div class="col">
            <h4 class="fw-bold">รายชื่อผู้เข้าพบ (ก่อนหน้า)</h4>
        </div>
        <div class="mt-3"></div>

        <div class="col-12">
            <div class="card" id="partner">
                <div class="card-body">
                    <table class="table w-100">
                        <thead>
                            <tr class="align-bottom">
                                <th class="col fw-bold">ID ผู้ใช้</th>
                                <th class="col fw-bold">ชื่อ</th>
                                <th class="col fw-bold"> นามสกุล</th>
                                <th class="col fw-bold">วันที่เข้า</th>
                                <th class="col fw-bold">วันที่ออก</th>
                                <th class="col-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle">
                                <td>123456</td>
                                <td>สมชาย</td>
                                <td>ดวงดี</td>
                                <td>13 ก.พ. 64</td>
                                <td>28 ก.พ. 64</td>
                                <td>
                                    <div class="justify-content-end">
                                        <!-- <div class="hstack gap-3"> -->
                                        <a href="members/show-members">
                                            <button type="button" class="btn btn-outline-secondary">
                                                <div class="d-flex justify-content-center">
                                                    <img src="/assets/Vector-show.svg" alt="show" width="20">
                                                </div>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->
</div>