<div class="row">
    <div class="col-md-6">
        <app-add-type-info-left-card></app-add-type-info-left-card>
    </div>
    <div class="col-md-6">
        <app-add-type-info-right-card></app-add-type-info-right-card>
    </div>

</div>
<div class="mt-4"></div>
<div class="row g-3 justify-content-center">
    <div class="col-3 d-grid">
        <button type="button" name="cancle" id="btn-cancle" class="btn btn-outline-dark btn-lg">ยกเลิก</button>
    </div>
    <div class="col-3 d-grid">
        <button type="button" name="save" class="btn btn-dark btn-lg">บันทึก</button>
    </div>
</div>