// body {
//   margin: 0;
// }

.btn{
box-sizing: border-box;
border-radius: 8px;
width: 212px;
height: 48px;
}

#btn-cancle{
  background-color: white;
}

// .navbar {
//   overflow: hidden;
//   background-color: #F8F8F8;
//   position: fixed;
//   bottom: 0;
//   width: 100%;
// }

// .navbar a {
//   float: left;
//   display: block;
//   color: #f2f2f2;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
//   font-size: 17px;
// }

// .navbar a:hover {
//   background: #f1f1f1;
//   color: black;
// }

// .navbar a.active {
//   background-color: #04AA6D;
//   color: white;
// }

// .main {
//   padding: 16px;
//   margin-bottom: 30px;
// }