<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 mb-3">
                <label class="form-label fw-bold">ชั้น*</label>
                <select class="form-select form-select-lg" aria-label="selectFloor">
                    <option value="floor1"> 1</option>
                    <option value="floor2"> 2</option>
                    <option value="floor3"> 3</option>
                </select>
            </div>

            <div class="col-12 mb-3">
                <label class="form-label fw-bold">รูปแบบห้อง*</label>
                <select class="form-select form-select-lg" aria-label="selectTypeRoom">
                    <option value="room1">รูปแบบห้อง 1</option>
                    <option value="room2">รูปแบบห้อง 2</option>
                    <option value="room3">รูปแบบห้อง 3</option>
                </select>
            </div>

            <div class="col-12 mb-3">
                <label class="form-label fw-bold">เลขที่ห้อง*</label>
                <input type="text" class="form-control form-control-lg" value="AA/100">
            </div>

            <div class="col-12 mb-3">
                <label class="form-label fw-bold">เลขที่บ้าน</label>
                <input type="text" class="form-control form-control-lg" value="12/100">
            </div>
        </div>
    </div>

    <div class="card-footer border-white bg-white">
        <div class="row g-3">
            <div class="col d-grid">
                <button type="button" name="cancle" class="btn btn-outline-dark">ยกเลิก</button>
            </div>
            <div class="col d-grid">
                <button type="button" name="save" class="btn btn-dark">บันทึก</button>
            </div>
        </div>
    </div>
</div>