<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-12">
            <a href="">
                <button type="button" class="btn btn-dark float-end">
                    <img src="/assets/add.svg" class="float-start" alt="add">
                    <span class="align-middle" style="font-size:14px">เพิ่มห้อง</span>
                </button>
            </a>
            <div class="d-flex flex-row">
                <div class="p-2">
                    <strong>การจัดการห้อง</strong>
                </div>
                <div class="p-2"><img src="/assets/next-page.svg" alt=""></div>
                <div class="p-2">
                    <strong>ข้อมูลห้องทั้งหมด</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <app-room-list-card-select></app-room-list-card-select>
            <div class="mt-4"></div>
            <app-room-list-card-table></app-room-list-card-table>
        </div>
    </div>
</div>