#card-doc {
  box-shadow: none;
  border-radius: 8px;
}
.form-control {
  border-radius: 8px;
}

.fw-bold {
  color: #890203;
}
.fw-normal {
  font-size: 14px;
}

.btn {
  border-radius: 8px;
  height: 48px;
  font-size: 14px;
}
