.card {
  border-radius: 8px;
}

//form
.fw-bold {
  color: #890203;
}
.form-select {
  border-radius: 8px;
  font-size: 14px;
}
.btn {
  border-radius: 8px;
}

//Modal
.modal-content {
  border-radius: 8px;
}
.btnModal {
  height: 48px;
}
