.card {
  height: calc(100vh - 175px);
  border-radius: 8px;
}

.form-select,
.form-control {
  border-radius: 8px;
  font-size: 14px;
}

.fw-bold {
  color: #890203;
}

.nav-link.active,
.nav-item.show .nav-link {
  color: #890203;
}
.nav-link {
  background-color: #939393;
  color: white;
}
