<div class="card">
    <div class="row">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="col nav-item nav-link active fw-bold text-center" id="door-tab" data-bs-toggle="tab"
                    href="#door" role="tab" aria-controls="door" aria-selected="true">สิทธิ์การเข้าออกประตู</a>
                <a class="col nav-item nav-link fw-bold text-center" id="elevator-tab" data-bs-toggle="tab"
                    href="#elevator" role="tab" aria-controls="elevator-tab"
                    aria-selected="false">สิทธิ์การเข้าออกลิฟต์</a>
            </div>
        </nav>
    </div>

    <div class="overflow-auto">
        <div class="card-body">
            <div class="row">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="door" role="tabpanel" aria-labelledby="door-tab">
                        <div class="mt-3"></div>

                        <!-- door -->
                        <div class="col mb-3">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="col align-self-center">
                                        <label class="fw-bold">ชั้น</label>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <select class="form-select">
                                        <option selected>1</option>
                                        <option select>2</option>
                                        <option select>3</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-4 fw-bold">ชื่อประตู</th>
                                    <th class="col-3 fw-bold">ชั้น</th>
                                    <th class="col-3 fw-bold">เวลาเปิด</th>
                                    <th class="col-2 fw-bold">เวลาปิด</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="fw-normal">ประตูทางเข้า 1</td>
                                    <td class="fw-normal">1</td>
                                    <td class="fw-normal">09.00 น.</td>
                                    <td class="fw-normal">22.00 น.</td>
                                </tr>
                                <tr>
                                    <td class="fw-normal">ประตูทางเข้า 2</td>
                                    <td class="fw-normal">1</td>
                                    <td class="fw-normal">09.00 น.</td>
                                    <td class="fw-normal">22.00 น.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- floor -->
                    <div class="tab-pane fade" id="elevator" role="tabpanel" aria-labelledby="elevator-tab">
                        <div class="mt-3"></div>

                        <div class="col mb-3">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="col align-self-center">
                                        <label class="fw-bold">ชั้น</label>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <select class="form-select">
                                        <option selected>1</option>
                                        <option select>2</option>
                                        <option select>3</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-4 fw-bold">ชื่อลิฟต์</th>
                                    <th class="col-3 fw-bold">ชั้น</th>
                                    <th class="col-3 fw-bold">เวลาเปิด</th>
                                    <th class="col-2 fw-bold">เวลาปิด</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="fw-normal">ลิฟต์ 1</td>
                                    <td class="fw-normal">1</td>
                                    <td class="fw-normal">09.00 น.</td>
                                    <td class="fw-normal">22.00 น.</td>
                                </tr>
                                <tr>
                                    <td class="fw-normal">ลิฟต์ 2</td>
                                    <td class="fw-normal">1</td>
                                    <td class="fw-normal">09.00 น.</td>
                                    <td class="fw-normal">22.00 น.</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>